= field_set_tag nil, id: 'org-name-options', class: 'input-search-filter' do
  = label_tag 'org_name', 'Organization name search'
  = button_tag do
    = content_tag :i, '', class: 'fa fa-institution'
  = search_field_tag :org_name, params[:org_name], placeholder: 'full or partial name...', list: 'search-agency'