%aside#search-container
  %section#search-box
    = form_tag('/locations', method: :get, id: 'form-search') do
      %section#keyword-search-box
        .input-search-small.clearable
          = button_tag(type: 'submit', name: nil, id: 'button-search', class: 'button-icon', title: 'Update search results') do
            %i.fa.fa-search
          = search_field_tag :keyword, params[:keyword], placeholder: t('placeholders.results_page_keyword_search'), tabindex: 1

      %section#search-options
        = render 'component/search/location'
        = render 'component/search/agency'

      %ul#search-controls
        %li
          = button_tag(type: 'submit', name: nil, class: 'button-small') do
            %i.fa.fa-refresh
            = t('buttons.update_search_results')
        %li
          = button_tag(type: 'reset', name: nil, id: 'button-reset', class: 'button-small') do
            %i.fa.fa-times-circle
            = t('buttons.clear_search_fields')
