= form_tag('/organizations', method: :get, id: 'search-form') do
  %section#search-box
    %div
      %div
        %section#keyword-search-box>
          = label_tag 'keyword', 'I need...'
          %div.input-search-big
            = search_field_tag :keyword, params[:keyword], placeholder: 'what are you looking for?', list: 'search-keywords'

            = button_tag(type: 'submit', id: 'find-btn', title: 'Search') do
              %i{ class: 'fa fa-search' }
              %span Search
        = hidden_field_tag 'location'
        = render 'component/search/geolocate', context_class: nil
