= form_tag('/locations', method: :get, id: 'search-form') do
  %section#search-box
    %div
      %div
        %section#keyword-search-box>
          = label_tag 'keyword', t('labels.homepage_search')
          %div.input-search-big
            = search_field_tag :keyword, params[:keyword], placeholder: t('placeholders.homepage_keyword_search'), list: 'search-keywords'

            = button_tag(type: 'submit', id: 'find-btn', title: 'Search') do
              %i{ class: 'fa fa-search' }
              %span
                = t('buttons.homepage_search')
        = hidden_field_tag 'location'
        = render 'component/search/geolocate', context_class: nil
