= form_tag('/locations', method: :get, id: 'form-search') do
  %section#search-box
    %div
      %div
        %section#keyword-search-box>
          = label_tag 'keyword', t('labels.homepage_search')
          .input-search-big
            = search_field_tag :keyword, params[:keyword], placeholder: t('placeholders.homepage_keyword_search'), tabindex: 1

            = button_tag(type: 'submit', name: nil, id: 'button-search', class: 'button-icon', title: 'Search', tabindex: 2) do
              %i.fa.fa-search
              %span
                = t('buttons.homepage_search')
        = hidden_field_tag 'location'
        = render 'component/search/geolocate', context_class: nil
