%section#category-box
  -#
    %header
      I'm looking for help with...
  %ul
    - @service_terms.each do |service|
      %li
        %a{ :href => "/organizations?keyword=#{service[:name]}", :onClick => "_gaq.push(['_trackEvent', 'Home_Categories', 'Click', '#{service[:name]}']);" }
          = service[:name]
        %ul
          - service[:sub].each do |sub|
            %li
              %a{ :href => "/organizations?keyword=#{sub}", :onClick => "_gaq.push(['_trackEvent', 'Home_Categories', 'Click', '#{sub}']);" }
                = sub