= field_set_tag nil, id: 'kind-options', class: "input-search-filter #{params[:kind].present? ? 'active' : ''}" do
  %legend= 'Filter Organization by Kind'
  %section.toggle-container
    - kind_options.each do |kind_option|
      %div.toggle-group
        %div.toggle
          %div
            = check_box_tag css_id_for(kind_option), kind_option, kind_selected?(kind_option), name: 'kind[]'
            %i.fa.fa-check
            = label_tag css_id_for(kind_option), ''
        = label_tag css_id_for(kind_option), kind_option
