%section#language-box
  %ul
    %li
      = link_to_unless(@current_lang == 'en', 'English', '?translate=en', lang: 'en', class: 'notranslate button-small') do |language|
        = content_tag(:span, language, class: 'translate-active button-small')
    %li
      = link_to_unless(@current_lang == 'es', 'Español', '?translate=es', lang: 'es', class: 'notranslate button-small') do |language|
        = content_tag(:span, language, class: 'translate-active button-small')
    %li
      = link_to_unless(@current_lang == 'tl', 'Tagalog', '?translate=tl', lang: 'tl', class: 'notranslate button-small') do |language|
        = content_tag(:span, language, class: 'translate-active button-small')
    %li
      = link_to_unless(@current_lang == 'zh-CN', '中文', '?translate=zh-CN', lang: 'zh-CN', class: 'notranslate button-small') do |language|
        = content_tag(:span, language, class: 'translate-active button-small')
    %li
      = link_to_unless(@current_lang == 'ar', 'العربية', '?translate=ar', lang: 'ar', class: 'notranslate button-small') do |language|
        = content_tag(:span, language, class: 'translate-active button-small')
    %li
      = link_to_unless(@current_lang == 'ru', 'Русский', '?translate=ru', lang: 'ru', class: 'notranslate button-small') do |language|
        = content_tag(:span, language, class: 'translate-active button-small')
