= field_set_tag nil, id: 'location-options', class: 'input-search-filter input-search-filter-option' do
  = label_tag 'location', t('labels.address_search')
  = content_tag :div, '', class: 'filter-input-group clearable' do
    = button_tag(type: 'submit', name: nil, class: 'button-icon', title: 'Update search results') do
      = content_tag :i, '', class: 'fa fa-map-marker'
    = search_field_tag :location, params[:location], placeholder: t('placeholders.address_search'), tabindex: 2
  = render 'component/search/geolocate', context_class: 'input-search-filter-option'
