%section#search-options

  = render :partial => "component/search/filter", :locals => {:field=>"location", :legend=>"Near Address",:field_value=>params[:location], :aggregate_field=>@aggregate_locations, :add_placeholder=>"address", :add_input_type=>"TEXT"}
  - cache ['cities-list', *smc_cities] do
    %datalist#location-list
      <!--[if lte IE 9]> <select disabled='disabled' style='display:none;'> <![endif]-->
      - smc_cities.each do |city|
        %option{:value=>city}
          = city
      <!--[if lte IE 9]> </select> <![endif]-->

  = render :partial => "component/search/filter", :locals => {:field=>"service_area", :legend=>"Service Area",:field_value=>params[:service_area], :aggregate_field=>@aggregate_service_areas}

  = render :partial => "component/search/filter", :locals => {:field=>"kind", :legend=>"Kind of Organization",:field_value=>params[:kind], :aggregate_field=>@aggregate_kinds}

  -#

    = render :partial => "component/search/filter", :locals => {:field=>"kind", :legend=>"Kind of Organization",:field_value=>params[:kind], :aggregate_field=>@aggregate_kinds, :add_input_type=>"TEXT", :list_values=>(kind_terms.reject{|x| @aggregate_kinds.include? x})}

    - cache ['kind_terms', *kind_terms] do
      %datalist#kind-list
        - kind_terms.each do |kind|
          %option{:value=>kind}
            = kind

  = render :partial => "component/search/filter", :locals => {:field=>"org_name", :legend=>"Agency Name",:field_value=>params[:org_name], :aggregate_field=>@aggregate_org_names, :add_placeholder=>"agency name", :add_input_type=>"TEXT"}



-#- if params[:category].present?
  %fieldset#category-options
    %legend Category of service...
    - category = params[:category]
    - new_params = @search_params.dup
    - new_params.delete(:category)
    %a{ :href => organizations_path(new_params) }
      = category
    = hidden_field_tag 'category',category
    %div.search-check
      %input{:type=>"checkbox",:id=>"category-checkbox"}
      %label{:for=>"category-checkbox"}

  -#- if params[:language].present?
  %fieldset#language-options
    %legend Language availability...
    - language = params[:language]
    - new_params = @search_params.dup
    - new_params.delete(:language)
    %a{ :href => organizations_path(new_params) }
      = language
    = hidden_field_tag 'language',language
    %div.search-check
      %input{:type=>"checkbox",:id=>"language-checkbox"}
      %label{:for=>"language-checkbox"}
