= field_set_tag nil, id: 'service-area-options', class: 'input-search-filter' do
  %legend= 'Include additional Bay Area services'
  %section{ class: "toggle-container #{params[:service_area].present? ? 'active' : ''}"}
    %div.toggle-group
      %div.toggle
        %div
          = check_box_tag 'service_area', 'smc', all_service_areas?
          %i.fa.fa-check
          = label_tag 'service_area', ''
      = label_tag 'service_area', 'Widen service area'
