%span{:itemtype=>"http://schema.org/PostalAddress",:itemprop=>"address"}
	
	- if org.street_address.present?
		- if lines == 2
			%span{:itemprop=>"streetAddress",:class=>"street-address"}
				= superscript_ordinals(org.street_address)
			%br
		- elsif org.city.present? || org.state.present? || org.zipcode.present?
			<span itemprop"streetAddress" class="street-address">#{superscript_ordinals(org.street_address)}</span>,  
		- else
			%span{:itemprop=>"streetAddress",:class=>"street-address"}
				= superscript_ordinals(org.street_address)

	- if org.city.present?
		%span{:itemprop=>"addressLocality",:class=>"city"}
			= org.city + ((org.state.present? || org.zipcode.present?) ? ", " : "")
	
	- if org.state.present?
		%span{:itemprop=>"addressRegion",:class=>"state"}
			= org.state
	
	- if org.zipcode.present?
		%span{:itemprop=>"postalCode",:class=>"zipcode"}
			= org.zipcode