%span{ itemscope: '', itemtype: 'http://schema.org/PostalAddress', itemprop: 'address' }
  - if lines == 2
    %span.street-address{ itemprop: 'streetAddress' }
      = superscript_ordinals(org.address.street)
    %br
  - else
    %span.street-address{ itemprop: 'streetAddress' }><
      = superscript_ordinals(org.address.street)
    = ','

  %span.city{ itemprop: 'addressLocality' }<
    = org.address.city
  = ','

  %span.state{ itemprop: 'addressRegion' }>
    = org.address.state

  %span.zipcode{ itemprop: 'postalCode' }
    = org.address.zip
