%span{ itemtype: 'http://schema.org/PostalAddress', itemprop: 'address' }

  - if location.mail_address.attention.present?
    %span.attention
      = location.mail_address.attention
    %br

  %span.street-address{ itemprop: 'streetAddress' }
    = superscript_ordinals(street_address_for(location.mail_address))
  %br

  %span.city{ itemprop: 'addressLocality' }><
    = location.mail_address.city
  ,

  %span.state{ itemprop: 'addressRegion' }
    = location.mail_address.state_province

  %span.zipcode{ itemprop: 'postalCode' }
    = location.mail_address.postal_code
