= render 'component/organizations/results/header'
%section#results-entries
  - if info_box_key_corresponding_to_keyword.present?
    %section#terminology
      %div
        = render_info_box(info_box_key_corresponding_to_keyword)

  - if @orgs.present?
    - if @array_for_maps.size != 0
      = render 'component/organizations/results/map_view'

    = render 'component/organizations/results/list_view'
  - else
    %section.no-results
      %div.message
        %strong Unfortunately, your search returned no results.
        %em If you have trouble finding what you're looking for, try:
        %ul
          %li
            Searching with a single keyword.
          %li
            Scrolling down & choosing a category of service.
          %li
            %a{:href=>'/organizations'}
              %i{:class=>'fa fa-eraser'}
              Clearing all search filters.
    - cache ['taxonomy-list', *taxonomy_terms] do
      %section#category-box
        %section
          %ul
            - taxonomy_terms.keys.each do |parent|
              %li
                = link_to parent, "/organizations?category=#{u parent}", 'class' => 'links-to-track', 'data-ga-category' => 'Results_Categories', 'data-ga-label' => "#{parent}"
                %ul
                  - taxonomy_terms[parent].each do |child|
                    %li
                      = link_to child, "/organizations?category=#{u child}", 'class' => 'links-to-track', 'data-ga-category' => 'Results_Categories', 'data-ga-label' => "#{child}"
