= render 'component/organizations/results/header'
%section#results-entries
  - if dynamic_partial
    %section#terminology
      %div
        = render :partial => dynamic_partial

  - if @orgs.present?
    - if @map_data.present?
      = render 'component/organizations/results/map_view'
    - else
      -# title attr. is used to retrieve content for document title in JS
      %p#search-summary{:title=>"#{@search_summary_plain}"}
        = @search_summary_html

    = render 'component/organizations/results/list_view'
  - else
    %section.no-results
      -# title attr. is used to retrieve content for document title in JS
      %p#search-summary{:title=>"#{@search_summary_plain}"}
        = @search_summary_html

      %p.message
        %strong Unfortunately, your search returned no results.
        %em If you have trouble finding what you're looking for, try searching with a single keyword or click a category of service below.
    - cache ['taxonomy-list', *taxonomy_terms] do
      %section#category-box
        %section
          %ul
            - taxonomy_terms.keys.each do |parent|
              %li
                %a{ :href => "/organizations?category=#{u parent}", "data-gaq" => "['_trackEvent', 'Results_Categories', 'Click', '#{parent}']" }
                  = parent
                %ul
                  - taxonomy_terms[parent].each do |child|
                    %li
                      %a{ :href => "/organizations?category=#{u child}", "data-gaq" => "['_trackEvent', 'Results_Categories', 'Click', '#{child}']" }
                        = child
