%header#results-header
	%div
		%span#search-summary{:title=>format_summary(request.params)}
			= format_summary(request.params)

		- path = request.fullpath

		- if (path =~ /page=\d*&?/).present?
			- prev_url = path.gsub(/page=\d*&?/, "page=#{@prev_page}")
			- next_url = path.gsub(/page=\d*&?/, "page=#{@next_page}")
		- elsif (path =~ /\?/).nil?
			- prev_url = "?page=#{@prev_page}"
			- next_url = "?page=#{@next_page}"
		- else
			- prev_url = "#{path}&page=#{@prev_page}"
			- next_url = "#{path}&page=#{@next_page}"

		%span#pagination
			- unless @total_pages == "0"
				- if @prev_page.nil?
					= link_to '<', prev_url, :class => 'pagination prev disabled',:target=>"_self"
				- else
					= link_to '<', prev_url, :class => 'pagination prev ajax-link',:target=>"_self"

				= "#{@current_page} of #{@total_pages}"

				- if @next_page.nil?
					= link_to '>', next_url, :class => 'pagination next disabled',:target=>"_self"
				- else
					= link_to '>', next_url, :class => 'pagination next ajax-link',:target=>"_self"

	%div.floating-content.hide
		%a{ :href => '#'}
			%span{ "data-icon" => "▲", :class => "ohana-icon" }
			Top
