%header#results-header	
	%div
		%span#search-summary{:title=>format_summary(@params)}
			= format_summary(@params)

		- path = request.fullpath

		- if (path =~ /page=\d*&?/).present?
			- page_prev = path.gsub(/page=\d*&?/, ('page='+@pagination.prev.to_s)+'&' )
			- page_next = path.gsub(/page=\d*&?/, ('page='+@pagination.next.to_s)+'&' )
		- elsif (path =~ /\?/).nil?
			- page_prev = '?page='+@pagination.prev.to_s
			- page_next = '?page='+@pagination.prev.to_s
		- else
			- page_prev = path+'&page='+@pagination.prev.to_s
			- page_next = path+'&page='+@pagination.next.to_s

		%span#pagination
			- if @pagination.prev.nil?
				= link_to '<', page_prev, :class => 'pagination prev disabled',:target=>"_self"
			- else
				= link_to '<', page_prev, :class => 'pagination prev ajax-link',:target=>"_self"

			= "#{@pagination.current} of #{@pagination.pages_total}"

			- if @pagination.next.nil?
				= link_to '>', page_next, :class => 'pagination next disabled',:target=>"_self"
			- else
				= link_to '>', page_next, :class => 'pagination next ajax-link',:target=>"_self"
	
	%div.floating-content.hide
		%a{ :href => '#'}
			%span{ "data-icon" => "▲", :class => "ohana-icon" }
			Top
