%header
	%h1
		Service Providers
	%nav
		%span{"data-icon"=>"ð¢" , :class=>"browse ohana-icon"}
		= format_summary(@params)
		|
		- path = request.fullpath

		- if (path =~ /page=\d*&?/).present?
			- page_prev = path.gsub(/page=\d*&?/, ('page='+@pagination.prev.to_s)+'&' )
			- page_next = path.gsub(/page=\d*&?/, ('page='+@pagination.next.to_s)+'&' )
		- elsif (path =~ /\?/).nil?
			- page_prev = '?page='+@pagination.prev.to_s
			- page_next = '?page='+@pagination.prev.to_s
		- else
			- page_prev = path+'&page='+@pagination.prev.to_s
			- page_next = path+'&page='+@pagination.next.to_s


		- if @pagination.prev.nil?
			= link_to '<', page_prev, :class => 'pagination prev disabled'
		- else
			= link_to '<', page_prev, :class => 'pagination prev ajax-link'

		= "#{@pagination.current} of #{@pagination.pages_total}"

		- if @pagination.next.nil?
			= link_to '>', page_next, :class => 'pagination next disabled'
		- else
			= link_to '>', page_next, :class => 'pagination next ajax-link'