%div.static-content
	- unless pages[:total_pages] == 0
		%span.pagination
			Page:
			- if pages[:prev_page].present?
				%span.prev
					= link_to "<", {:page=>pages[:prev_page]}, :class => 'ajax-link',:target=>"_self"

			- if pages[:pages][0] != 1
				= link_to '1', {:page=>1}, :class => 'ajax-link',:target=>"_self"
			- if pages[:pages][1] != 2
				= "..."

			- pages[:pages].each do |page|

				- if page == pages[:current_page]
					%span.current
						= pages[:current_page]
				- else
					= link_to page, {:page=>page}, :class => 'ajax-link', :target=>"_self"

			- far_last_item = pages[:pages][pages[:pages].length-1]
			- near_last_item = pages[:pages][pages[:pages].length-2]
			- if near_last_item != far_last_item && far_last_item != pages[:total_pages]
				= "..."
			- if far_last_item != pages[:total_pages]
				= link_to pages[:total_pages], {:page=>pages[:total_pages]}, :class => 'ajax-link',:target=>"_self"
			- if pages[:next_page].present?
				%span.next
					= link_to ">", {:page=>pages[:next_page]}, :class => 'ajax-link',:target=>"_self"