%section#list-view
	%ul
		- @orgs.each do |org|
			%li
				%a{:href=>"#{organization_path(org._id)}", :title=>"#{org.name}"}
					%section{:class => "results-entry"}
						- unless org.distance.blank?
							%p.distance{:title=> "#{org.distance} miles","data-distance"=>org.distance}
								%span
									== #{org.distance} mi
						%header
							%h1.name
								= superscript_ordinals(org.name)
							- if org.agency.present?
								%h2.agency
									= org.agency
						- if has_address(org)		
							%p.address
								= format_address(org)