%section#list-view
	%ul
		- @orgs.each do |org|

			%li
				%a{:href=>"#{organization_path(org.id, @search_params)}", :title=>"#{org.name}", :class=>"ajax-link", :name=>"#{org.id}"}
					&nbsp;
				%section.results-entry
					-#
						- unless org.distance.blank?
							%p.distance{:title=> "#{org.distance} miles","data-distance"=>org.distance}
								%span
									== #{org.distance} mi
					- if org.key?(:kind)
						%p.kind
							%a{:href=>"/organizations?kind[]=#{CGI::escape(org.kind)}", :title=>"search for locations that fit #{org.kind}", :class=>"ajax-link"}
								= org.kind
					%header
						- if org.key?(:category)
							%ul.category
								- org.category.each do |category|
									%li
										%a{:href=>"/organizations?keyword=#{CGI::escape(category)}", :title=>"search for locations that provide #{category}", :class=>"ajax-link"}
											= category
						%h1{:class=>'name'}
							%a{:href=>"#{organization_path(org.id, @search_params)}", :title=>"#{org.name}", :class=>"ajax-link", :name=>"#{org.id}"}
								= superscript_ordinals(org.name)
						- if (org.organization.name) && (org.organization.name != org.name)
							%h2.agency
								%a{:href=>"/organizations?keyword=#{CGI::escape(org.organization.name)}", :title=>"#{org.organization.name}", :class=>"ajax-link"}
									%span
										= superscript_ordinals(org.organization.name)
					- if org.key?(:phones)
						%ul.phones
							- org.phones.each do |hash|
								- if hash["number"].present?
									%li
										%span{"data-icon"=>"â˜" , :class=>"ohana-icon"}
										%span{:itemprop=>"telephone"}
											= "#{format_phone(hash["number"])}"

					- if org.key?(:address)
						%p.address
							= render :partial => "component/detail/address", :locals => {:org=>org,:lines=>1}

					- if org.key?(:short_desc)
						%p.short-desc
							= org[:short_desc]
	= render :partial => 'component/organizations/results/header_summary', :locals => {:pages=>@pages}