%section#list-view
  %ul
    - @orgs.each do |org|

      %li
        %a{:href => org.organization.name == org.name ? "#{location_path([org.slug], @search_params)}" : "#{location_path([org.organization.slug, org.slug], @search_params)}", :title=>"#{org.name}", :name=>"#{org.id}"}
          &nbsp;
        %section.results-entry{:itemscope=>"", :itemtype=>"http://schema.org/Organization"}
          %header
            %hgroup
              %h1{:class=>'name'}
                %a{ :href => org.organization.name == org.name ? "#{location_path([org.slug], @search_params)}" : "#{location_path([org.organization.slug, org.slug], @search_params)}", :title=>"#{org.name}", :name=>"#{org.id}", :itemprop=>"name"}
                  = superscript_ordinals(org.name)
              - if (org.organization.name) && (org.organization.name != org.name)
                %h2.agency
                  %a{:href=>"/organizations?org_name=#{CGI::escape(org.organization.name)}", :title=>"#{org.organization.name}"}
                    %span
                      = superscript_ordinals(org.organization.name)

          - if org[:phones].present?
            %ul.phones
              %li
                %i{:class=>"fa fa-phone-square"}
                %span{:itemprop=>"telephone"}
                  = "#{format_phone(org.phones.first.number)}"

          - if org[:address].present?
            %p.address
              = render "component/detail/address", org: org, lines: 1

          - if org[:short_desc].present?
            %p.short-desc
              = org[:short_desc]
  %footer
    = render :partial => 'component/organizations/results/pagination', :locals => {:pages=>@pages}
