%section#list-view
	%ul
		- @orgs.each do |org|
			%li
				- query = "?"
				- request.query_parameters.each do |key, value|
					- query += "#{key}=#{CGI::escape(value)}&"
				%a{:href=>"/organizations/#{org._id+query}", :title=>"#{org.name}", :class=>"ajax-link"}
					%section{:class => "results-entry"}
						- unless org.distance.blank?
							%p.distance{:title=> "#{org.distance} miles","data-distance"=>org.distance}
								%span
									== #{org.distance} mi
						%header
							%h1.name
								= superscript_ordinals(org.name)
							- if org.agency.present?
								%h2.agency
									= superscript_ordinals(org.agency)
						- if has_address?(org)
							%p.address
								= render :partial => "component/detail/address", :locals => {:org=>org,:lines=>1}