%section#list-view
  %ul
    - @orgs.each do |org|

      %li
        %a{:href => org.organization.name == org.name ? "#{location_path([org.slugs[-1]], request.query_parameters)}" : "#{location_path([org.organization._slugs[-1], org.slugs[-1]], request.query_parameters)}", :title=>"#{org.name}", :name=>"#{org.id}"}
          &nbsp;
        %section.results-entry{:itemscope=>"", :itemtype=>"http://schema.org/Organization"}
          %header
            - if org.key?(:kind)
              - class_name = css_class_format(org.kind.sub("'",""))
              %section
                %p.kind
                  %a{:href=>"/organizations?kind=#{CGI::escape(org.kind)}", :title=>"All locations of type #{org.kind}",:class=>"kind icon #{class_name}"}
                    = org.kind
            %hgroup
              %h1{:class=>'name'}
                %a{ :href => org.organization.name == org.name ? "#{location_path([org.slugs[-1]], request.query_parameters)}" : "#{location_path([org.organization._slugs[-1], org.slugs[-1]], request.query_parameters)}", :title=>"#{org.name}", :name=>"#{org.id}", :itemprop=>"name"}
                  = superscript_ordinals(org.name)
              - if (org.organization.name) && (org.organization.name != org.name)
                %h2.agency
                  %a{:href=>"/organizations?org_name=#{CGI::escape(org.organization.name)}", :title=>"#{org.organization.name}"}
                    %span
                      = superscript_ordinals(org.organization.name)

          - if org.key?(:phones)
            %ul.phones
              - org.phones.each do |hash|
                - if hash["number"].present?
                  %li
                    %i{:class=>"fa fa-phone-square"}
                    %span{:itemprop=>"telephone"}
                      = "#{format_phone(hash["number"])}"

          - if org.key?(:address)
            %p.address
              = render :partial => "component/detail/address", :locals => {:org=>org,:lines=>1}

          - if org.key?(:short_desc)
            %p.short-desc
              = org[:short_desc]
  %footer
    = render :partial => 'component/organizations/results/pagination', :locals => {:pages=>@pages}
