= render 'component/organizations/detail/header'
%section#detail-info
  %header
    %h1.name{:title=>@org.name}
      = superscript_ordinals(@org.name)
    - if (@org.organization.name) && (@org.organization.name != @org.name)
      %h2.agency
        = superscript_ordinals(@org.organization.name)


  / detail sidebar content
  - if (@org.fields & contact_details).any?
    %aside#contact-info

      - if (@org.fields & contact_fields).any?
        %section.contact-box
          %h1 Contact
          %section

            - if @org.key?(:ask_for)
              %section.ask-for
                - @org.ask_for.each do |ask_for|
                  %div
                    %span{"data-icon"=>"â˜º" , :class=>"ohana-icon"}
                    %span
                      = ask_for

            - if @org.key?(:emails)
              %section.emails{:itemprop=>"email"}
                - @org.emails.each do |email|
                  %div
                    %span{"data-icon"=>"@" , :class=>"ohana-icon"}
                    %a{:href=>("mailto:"+email)}
                      %span{:itemprop=>"email"}
                        = email


            - if @org.key?(:phones)
              %section.phones
                - @org.phones.each do |hash|
                  %div
                    %span{"data-icon"=>"â˜Ž" , :class=>"ohana-icon"}
                    %span
                      - if hash["department"]
                        %span
                          = hash["department"]
                      - if hash["number"]
                        %span{:itemprop=>"telephone"}
                          = format_phone(hash["number"])
                      - if hash["type"]
                        %sup.phone-type
                          = hash["type"]
                      - if hash["hours"]
                        %span
                          = hash["hours"]


            - if @org.key?(:faxes)
              %section.faxes
                - @org.faxes.each do |fax|
                  %div
                    %span{"data-icon"=>"â„»" , :class=>"ohana-icon"}
                    %span{:itemprop=>"faxNumber"}
                      = format_phone(fax)

      - if @org.key?(:urls)
        %section.urls-box
          %h1 Homepage
          %section

            - if @org.key?(:urls)
              %section.urls
                - @org.urls.each do |url|
                  %div
                    %span{"data-icon"=>"ðŸ”—" , :class=>"external-link ohana-icon"}
                    %a{:href=>url,:target=>"_blank"}
                      %span{:itemprop=>"url"}
                        = format_url(url)

      - if @org.key?(:mail_address)
        %section.address-box
          %h1 Mailing Address
          %section

            %section.mail-address
              %div
                %span{"data-icon"=>"âœ‰" , :class=>"ohana-icon"}
                = render :partial => "component/detail/mail_address", :locals => {:org=>@org,:lines=>2}

      -# has a physical address and the street address and zipcode differ from mailing address
      - if @org.key?(:address) && !(@org.key?(:mail_address) && (@org.address.street == @org.mail_address.street && @org.address.zip == @org.mail_address.zip))
        %section.address-box
          %h1 Physical Address
          %section
            - if @org.key?(:address)
              %section.address
                %div
                  %span{"data-icon"=>"âœ‰" , :class=>"ohana-icon"}
                  = render :partial => "component/detail/address", :locals => {:org=>@org,:lines=>2}

  / main detail content
  %section

    - if (@org.key?(:short_desc) || @org.key?(:description))
      %section.overview-box
        %section

          / insert template, params are:
          / use_template,org,field,title,icon
          = insert_template(true,@org,:short_desc,nil,nil)
          = insert_template(true,@org,:description,"Description",nil)

    - if @org.key?(:coordinates) || @org.key?(:transportation)
      %section.map-box
        %h1 Location

        %div

          - if @org.key?(:transportation)
            %section.transportation-availability
              %h1 Public Transit:
              %span
                = @org.transportation

          - if @org.key?(:coordinates)
            %section#detail-map-view.map
              /%div#show-nearby-control
              /  %img#show-nearby-control-icon.hide{:src=>'https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-a.png&scale=0.5'}
              /  %span#show-nearby-control-text
              /    &nbsp;

              %div#detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = address(@org)
                %span.hide#detail-map-canvas-lat
                  = @org.coordinates[1]
                %span.hide#detail-map-canvas-lng
                  = @org.coordinates[0]
              = render 'component/search/map_data'
              %noscript
                %style
                  -# hides map when JS is disabled
                  = "#detail-map-view {display:none;}"

    - if @org.key?(:hours)
      %section.hours-box
        %h1 Service Hours
        %section

          = insert_template(true,@org,:hours,nil,"â§—")

    - if (@org.fields & service_fields).any?
      %section.service-opt-box
        %h1 Service Options
        %section
          = insert_template(true,@org,:languages,"Languages Spoken",nil)
          = insert_template(false,@org,:accessibility,"Accessibility Options",nil)


    - if (@org.fields & market_fields).any?
      %section.payment-box
        %h1 Payment & Products

        %div

          - if @org.key?(:payments || :market_match)
            %section.payments-accepted
              %span{"data-icon"=>"$" , :class=>"payment ohana-icon"}
              %h1 Payment methods accepted:
              %ul
                -if @org.key?(:payments)
                  -@org.payments.sort.each do |payment|
                    %li
                      %span.term-popup-container
                        %span.popup.hide
                          - dynamic_partial = "component/popup/#{payment.downcase}"
                          = render :partial => "#{dynamic_partial}" rescue nil
                        %span.popup-term
                          = payment
                - if @org.key?(:market_match)
                  %li
                    %span.term-popup-container
                      %span.popup.hide
                        = render :partial => 'component/popup/market_match' rescue nil
                      %span.market-match.popup-term
                        Market Match


          - if @org.key?(:products)
            %section.products-sold
              %span{"data-icon"=>"â£" , :class=>"ohana-icon"}
              %h1 Products sold:
              %ul
                - @org.products.sort.each do |product|
                  %li
                    %span
                      = product

    - if @org.key?(:services)
      %section.services-box
        %h1 Services
        %section
          - @org.services.each do |service|

            / insert template, params are:
            / use_template,org,field,title,icon
            = insert_template(true,service,:name,nil,nil)
            = insert_template(true,service,:description,nil,nil)
            = insert_template(false,service,:urls,"Homepage",nil)
            = insert_template(true,service,:fees,"Fees",nil)
            = insert_template(true,service,:audience,"Audience",nil)
            = insert_template(true,service,:eligibility,"Eligibility",nil)
            = insert_template(true,service,:how_to_apply,"How to Apply",nil)

            - if service.key?(:categories)
              %section.categories-box
                %h1 Categories
                %section
                  - service.categories.each do |cat|
                    - category = cat.name
                    %a{ :href => "/organizations?category=#{u category}", :onClick => "_gaq.push(['_trackEvent', 'Results_Categories', 'Click', '#{category}']);" }
                      = category

  / detail footer content
  - if @org.key?(:updated_at)
    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            %span
              = @org.updated_at.to_s(:full_date_and_time)