= render 'component/organizations/detail/header'
%section#detail-info
  %header
    %h1.name{:title=>@org.name}
      = superscript_ordinals(@org.name)
    - if @org.key?(:organization)
      %h2.agency
        = superscript_ordinals(@org.organization.name)


  / detail sidebar content
  - if (@org.fields & contact_details).any?
    %aside

      - if (@org.fields & contact_fields).any?
        %section.contact-box
          %h1 Contact
          %section

            - if @org.key?(:ask_for)
              %section.ask-for
                %div
                  %span{"data-icon"=>"â˜º" , :class=>"ohana-icon"}
                  %span
                    = @org.ask_for

            - if @org.key?(:emails)
              %section.emails{:itemprop=>"email"}
                - @org.emails.each_with_index do |email, index|
                  %div
                    %span{"data-icon"=>"@" , :class=>"ohana-icon"}
                    %span{:itemprop=>"email"}
                      = email


            - if @org.key?(:phones)
              %section.phones
                - @org.phones.each do |hash|
                  %div
                    %span{"data-icon"=>"â˜Ž" , :class=>"ohana-icon"}
                    %span
                      - if hash["department"]
                        %span
                          = "#{hash["department"]}"
                      - if hash["number"]
                        %span{:itemprop=>"telephone"}
                          = "#{format_phone(hash["number"])}"
                      - if hash["hours"]
                        %span
                          = " #{hash["hours"]}"


            - if @org.key?(:faxes)
              %section.faxes
                - @org.faxes.each_with_index do |fax,index|
                  %div
                    %span{"data-icon"=>"â„»" , :class=>"ohana-icon"}
                    %span{:itemprop=>"faxNumber"}
                      = "#{format_phone(fax)}"

      - if @org.key?(:address || :urls)
        %section.address-box
          %h1 Address
          %section

            - if @org.key?(:address)
              %section.address
                %div
                  %span{"data-icon"=>"âœ‰" , :class=>"ohana-icon"}
                  = render :partial => "component/detail/address", :locals => {:org=>@org,:lines=>2}

            - if @org.key?(:urls)
              %section.urls
                - @org.urls.each_with_index do |url,index|
                  %div
                    %span{"data-icon"=>"ðŸ”—" , :class=>"external-link ohana-icon"}
                    %a{:href=>url,:target=>"_blank"}
                      %span{:itemprop=>"url"}
                        = url


  / main detail content
  %section

    - if (@org.fields & service_fields).any?
      %section.overview-box
        %h1 Service Overview
        %section

          / insert template, params are:
          / use_template,org,field,title,icon
          = insert_template(true,@org,:short_desc,nil,nil)
          = insert_template(true,@org,:description,"Description",nil)
          = insert_template(true,@org,:audience,"Audience",nil)
          = insert_template(true,@org,:service_areas,"Service Areas",nil)
          = insert_template(true,@org,:how_to_apply,"How to Apply",nil)
          = insert_template(true,@org,:fees,"Fees",nil)
          = insert_template(true,@org,:eligibility,"Eligibility Requirements",nil)
          = insert_template(true,@org,:languages,"Languages Spoken",nil)
          = insert_template(false,@org,:accessibility,"Accessibility Options",nil)

    - if @org.key?(:hours)
      %section.hours-box
        %h1 Service Hours
        %section

          = insert_template(true,@org,:hours,nil,"â§—")

    - if (@org.fields & market_fields).any?
      %section.payment-box
        %h1 Payment & Products

        %div

          - if @org.key?(:payments || :market_match)
            %section.payments-accepted
              %span{"data-icon"=>"$" , :class=>"payment ohana-icon"}
              %h1 Payment methods accepted:
              %ul
                -if @org.key?(:payments)
                  -@org.payments_accepted.sort.each do |payment|
                    %li
                      %span.term-popup-container
                        %span.popup.hide
                          - dynamic_partial = "component/popup/#{payment.downcase}"
                          = render :partial => "#{dynamic_partial}" rescue nil
                        %span.popup-term
                          = payment
                - if @org.key?(:market_match)
                  %li
                    %span.term-popup-container
                      %span.popup.hide
                        = render :partial => 'component/popup/market_match' rescue nil
                      %span.market-match.popup-term
                        Market Match


          - if @org.key?(:products)
            %section.products-sold
              %span{"data-icon"=>"â£" , :class=>"ohana-icon"}
              %h1 Products sold:
              %ul
                - @org.products.sort.each do |product|
                  %li
                    = product


    - if @org.key?(:coordinates) || @org.key?(:transportation)
      %section.map-box
        = render 'component/search/map_data'
        %h1 Map & Directions

        %div

          - if @org.key?(:transportation)
            %section.transportation-availability
              %span
                = @org.transportation

          - if @org.key?(:coordinates)
            %section.map
              %div#detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = address(@org)
                %span.hide#detail-map-canvas-lat
                  = @org.coordinates[1]
                %span.hide#detail-map-canvas-lng
                  = @org.coordinates[0]
                %span Error loading map!


  / detail footer content
  - if @org.key?(:updated_at)
    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            - if @org.key?(:updated_at)
              %span
                = @org.updated_at.to_s(:full_date_and_time)

-#
  // field dump
  - @org.each do |field|
    %section
      %h1
      = field


- if @nearby.present?
  %h2
    Nearby (within 2 miles):
  %ul
    - @nearby.each do |venue|
      %li
        %a{:href=>"#{organization_path(venue)}", :title=>"#{venue.name}"}
          %section{:class => "results-entry"}
            = render :partial => "component/detail/address", :locals => {:org=>@org,:lines=>1}
