= render 'component/organizations/detail/header'
%section#detail-info
  %header
    %h1.name
      = superscript_ordinals(@org.name)
    - if has_field?(@org,["agency"])
      %h2.agency
        = superscript_ordinals(@org.agency)


  / detail sidebar content
  - if has_field?(@org, ['ask_for','phones','faxes','emails','urls'] | address_fields)
    %aside

      - if has_field?(@org, [ 'ask_for', 'phones', 'faxes', 'emails' ])
        %section.contact-box
          %h1 Contact
          %section

            - if has_field?(@org,['ask_for'])
              %section.ask-for
                %span{"data-icon"=>"â˜º" , :class=>"ohana-icon"}
                %span
                  = @org.ask_for
            
            - if has_field?(@org,['emails'])
              %section.emails{:itemprop=>"email"}
                - @org.emails.each_with_index do |email, index|
                  %span{"data-icon"=>"@" , :class=>"ohana-icon"}
                  %span{:itemprop=>"email"}
                    = email
                  - unless index == @org.emails.length
                    %br

            - if @org.phones.present?
              %section.phones
                - @org.phones.each_with_index do |array,index|
                  - array.each do |hash|
                    %span{"data-icon"=>"â˜Ž" , :class=>"ohana-icon"}
                    - if hash["department"]
                      %span
                        = "#{hash["department"]}"
                    - if hash["number"]
                      %span{:itemprop=>"telephone"}
                        = "#{format_phone(hash["number"])}"
                    - if hash["phone_hours"]
                      %span
                        = " #{hash["phone_hours"]}"
                    - unless index == @org.phones.length
                      %br

            - if has_field?(@org,['faxes'])
              %section.faxes
                - @org.faxes.each_with_index do |fax,index|
                  %span{"data-icon"=>"â„»" , :class=>"ohana-icon"}
                  %span{:itemprop=>"faxNumber"}
                    = "#{format_phone(fax)}"
                  - unless index == @org.faxes.length
                    %br

      - if has_field?(@org, address_fields | ['urls'])
        %section.address-box
          %h1 Address
          %section

            - if has_field?(@org, address_fields)
              %section.address
                %span{"data-icon"=>"âœ‰" , :class=>"ohana-icon"}
                = render :partial => "component/detail/address", :locals => {:org=>@org,:lines=>2}

            - if has_field?(@org, ['urls'])
              %section.urls
                - @org.urls.each_with_index do |url,index|
                  %a{:href=>url,:target=>"_blank"}
                    %span{"data-icon"=>"ðŸ”—" , :class=>"external-link ohana-icon"}
                    %span{:itemprop=>"url"}
                      = url
                    - unless index == @org.urls.length
                      %br


  / main detail content
  %section

    - if has_field?(@org, ['services_provided','description','target_group','service_areas','how_to_apply','fees','eligibility_requirements','languages_spoken','accessibility_options','ttys'])
      %section.overview-box
        %h1 Service Overview
        %section

          / insert template, params are: 
          / use_template,org,field,title,icon
          = insert_template(true,@org,'services_provided',nil,nil)
          = insert_template(true,@org,'description',"Description",nil)
          = insert_template(true,@org,'target_group',"Target Groups","T")
          = insert_template(true,@org,'service_areas',"Service Areas","S")
          = insert_template(true,@org,'how_to_apply',"How to Apply","?")
          = insert_template(true,@org,'fees',"Fees","$")
          = insert_template(true,@org,'eligibility_requirements',"Eligibility Requirements","E")
          = insert_template(true,@org,'languages_spoken',"Languages Spoken","L")
          = insert_template(false,@org,'accessibility_options',"Accessibility Options","â™¿")


    - if @org.service_hours.present?
      %section.hours-box
        %h1 Service Hours
        %section
          
          = insert_template(true,@org,'service_hours',nil,"â§—")

    - if has_field?(@org,['payments_accepted','market_match','products_sold'])
      %section.payment-box
        %h1 Payment & Products

        %div

          - if has_field?(@org,['payments_accepted','market_match'])
            %section.payments-accepted
              %span{"data-icon"=>"$" , :class=>"payment ohana-icon"}
              %h1 Payment methods accepted:
              %ul
                -if has_field?(@org,['payments_accepted'])
                  -@org.payments_accepted.sort.each do |payment|
                    %li
                      %span.term-popup-container
                        %span.popup.hide
                          - dynamic_partial = "component/popup/#{payment.downcase}"
                          = render :partial => "#{dynamic_partial}" rescue nil
                        %span.popup-term
                          = payment
                - if has_field?(@org,['market_match'])
                  %li
                    %span.term-popup-container
                      %span.popup.hide
                        = render :partial => 'component/popup/marketmatch' rescue nil
                      %span.market-match.popup-term
                        Market Match
          

          - if @org.products_sold.present?
            %section.products-sold
              %span{"data-icon"=>"â£" , :class=>"ohana-icon"}
              %h1 Products sold:
              %ul
                - @org.products_sold.sort.each do |product|
                  %li
                    = product


    - if map_url(@org).present? || @org.transportation_availability.present?
      %section.map-box
        %h1 Map & Directions

        %div

          - if @org.transportation_availability.present?
            %section.transportation-availability
              %span
                = @org.transportation_availability

          - if map_url(@org).present?
            %section.directions
              %a{:href=>"https://maps.google.com/maps?saddr=current+location&daddr=#{address(@org)}",:target=>"_blank"}
                %span{"data-icon"=>"ï”—" , :class=>"external-link ohana-icon"}
                %span Get Directions

            %section.map
              %div#detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = address(@org)
                %span.hide#detail-map-canvas-lat
                  = @org.coordinates[1]
                %span.hide#detail-map-canvas-lng
                  = @org.coordinates[0]
                %span Error loading map!


  / detail footer content
  - if @org.updated_at.present?
    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            - if @org.updated_at.present?
              %span
                = "#{format_timestamp(@org.updated_at)}"

-#
  // field dump
  - @org.each do |field|
    %section
      %h1
      = field


- if @nearby.present?
  %h2
    Nearby (within 2 miles):
  %ul
    - @nearby.each do |venue|
      %li
        %a{:href=>"#{organization_path(venue)}", :title=>"#{venue.name}"}
          %section{:class => "results-entry"}
            = render :partial => "component/detail/address", :locals => {:org=>@org,:lines=>1}
