= render 'component/organizations/detail/header'

%section#detail-info{:itemscope=>"", :itemtype=>"http://schema.org/Organization"}

  %header
    - if @org.key?(:kind)
      - class_name = css_class_format(@org.kind.sub("'",""))
      %section
        %p.kind
          %a{:href=>"/organizations?kind=#{CGI::escape(@org.kind)}", :title=>"All locations of type #{@org.kind}",:class=>"kind icon #{class_name}"}
            = @org.kind

    %hgroup
      %h1.name{:title=>@org.name, :itemprop=>"name"}
        = superscript_ordinals(@org.name)
      - if (@org.organization.name) && (@org.organization.name != @org.name)
        %h2.agency
          %a{:href=>"/organizations?org_name=#{CGI::escape(@org.organization.name)}", :title=>"#{@org.organization.name}"}
            %span
              = superscript_ordinals(@org.organization.name)

  / detail sidebar content
  - if (@org.fields & contact_details).any? || @org.key?(:services)
    %aside
      - if (@org.fields & contact_details).any?
        %section#contact-info

          - if (@org.fields & contact_fields).any?
            %section.contact-box
              %h1 Contact
              %section

                - if @org.key?(:ask_for)
                  %section.ask-for{:itemscope=>"", :itemtype=>"http://schema.org/ContactPoint"}
                    - @org.ask_for.each do |ask_for|
                      %div
                        %i{:class=>"fa fa-user"}
                        %span
                          = ask_for

                - if @org.key?(:emails)
                  %section.emails{:itemprop=>"email"}
                    - @org.emails.each do |email|
                      %div
                        %i{:class=>"fa fa-laptop"}
                        %a{:href=>("mailto:"+email)}
                          %span{:itemprop=>"email"}
                            = email


                - if @org.key?(:phones)
                  %section.phones{:itemscope=>"", :itemtype=>"http://schema.org/ContactPoint"}
                    - @org.phones.each do |phone|
                      %div
                        %i{:class=>"fa fa-phone-square"}
                        %span
                          - if phone["number"]
                            %span{:itemprop=>"telephone"}
                              = format_phone(phone["number"])
                          - if phone['number_type']
                            %sup.phone-type
                              = phone['number_type']
                          - if phone["department"]
                            %p
                              %span{:itemprop=>"contactType"}
                                = phone["department"]

                - if @org.key?(:faxes)
                  %section.faxes
                    - @org.faxes.each do |fax|
                      %div
                        %i{:class=>"fa fa-print fax"}
                        %span
                          - if fax.is_a?(String)
                            %span{:itemprop=>"faxNumber"}
                              = format_phone(fax)
                          - elsif fax.is_a?(Sawyer::Resource)
                            - if fax["number"]
                              %span{:itemprop=>"faxNumber"}
                                = format_phone(fax["number"])
                            - if fax["department"]
                              %p
                                %span{:itemprop=>"contactType"}
                                  = fax["department"]

          - if @org.key?(:urls)
            %section.urls-box
              %h1 Homepage
              %section

                - if @org.key?(:urls)
                  %section.urls
                    - @org.urls.each do |url|
                      %div
                        %i{:class=>"fa fa-external-link-square"}
                        %a{:href=>url,:target=>"_blank"}
                          %span{:itemprop=>"url"}
                            = format_url(url)

          - if @org.key?(:mail_address)
            %section.address-box
              %h1 Mailing Address
              %section

                %section.mail-address
                  %div
                    %i{:class=>"fa fa-envelope"}
                    = render :partial => "component/detail/mail_address", :locals => {:org=>@org,:lines=>2}

          -# has a physical address and the street address and zipcode differ from mailing address
          - if @org.key?(:address) && !(@org.key?(:mail_address) && (@org.address.street == @org.mail_address.street && @org.address.zip == @org.mail_address.zip))
            %section.address-box
              %h1 Physical Address
              %section
                - if @org.key?(:address)
                  %section.address
                    %div
                      %i{:class=>"fa fa-home"}
                      = render :partial => "component/detail/address", :locals => {:org=>@org,:lines=>2}

      - if @aggregate_categories.present?
        %section#categories-box
          %h1 Service Categories
          - if @org.key?(:kind) && @org.kind == 'Government'
            %section.services{:itemscope=>"", :itemtype=>"http://schema.org/GovernmentService"}
          - else
            %section.services{:itemscope=>"", :itemtype=>"http://schema.org/Service"}
              %ul{:itemscope=>"", :itemtype=>"http://schema.org/ServiceType"}
                - @aggregate_categories.each do |category|
                  %li{:class=>"depth#{category.depth}"}
                    %span{:itemprop=>"serviceType"}
                      -# Category links are disabled till there's a corresponding filter that can be toggled!
                        = link_to category.name, organizations_path(@search_params.merge(:category => category.name))
                      = category.name

  / main detail content
  %section

    - if (@org.key?(:short_desc) || @org.key?(:description))
      %section.overview-box
        %section

          = render :partial => "component/detail/template", :locals => {:org=>@org, :field=>:short_desc}
          = render :partial => "component/detail/template", :locals => {:org=>@org, :field=>:description, :stitle=>"Description"}

    - if @org.key?(:coordinates) || @org.key?(:transportation)
      %section.map-box
        %h1 Location

        %div

          - if @org.key?(:transportation)
            %section.transportation-availability
              %h1 Public Transit:
              %span
                = @org.transportation

          - if @org.key?(:coordinates)
            %section#detail-map-view.map
              %div#detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = address(@org)
                %span.hide#detail-map-canvas-lat
                  = @org.coordinates[1]
                %span.hide#detail-map-canvas-lng
                  = @org.coordinates[0]
              %noscript
                %style
                  -# hides map when JS is disabled
                  = "#detail-map-view {display:none;}"

    - if @org.key?(:hours)
      %section.hours-box
        %h1 Service Hours
        %section
          = render :partial => "component/detail/template", :locals => {:org=>@org, :field=>:hours, :stitle=>nil, :icon=>"fa fa-clock-o"}

    - if (@org.fields & service_fields).any?
      %section.service-opt-box
        %h1 Service Options
        %section
          = render :partial => "component/detail/template", :locals => {:org=>@org, :field=>:languages, :stitle=>"Languages Spoken"}
          = render :partial => "component/detail/template", :locals => {:org=>@org, :field=>:accessibility, :stitle=>"Accessibility Options"}

    - if (@org.fields & market_fields).any?
      %section.payment-box
        %h1 Payment & Products

        %div
          - if @org.key?(:payments) || @org.key?(:market_match)
            %section.payments-accepted
              %i{:class=>"fa fa-money"}
              %h1 Payment methods accepted:
              %ul
                -if @org.key?(:payments)
                  -@org.payments.sort.each do |payment|
                    %li
                      %span.term-popup-container
                        %span.popup.hide
                          - dynamic_partial = "component/popup/#{payment.downcase}"
                          = render :partial => "#{dynamic_partial}" rescue nil
                        %span.popup-term
                          = payment
                - if @org.key?(:market_match)
                  %li
                    %span.term-popup-container
                      %span.popup.hide
                        = render :partial => 'component/popup/market_match' rescue nil
                      %span.market-match.popup-term
                        Market Match


          - if @org.key?(:products)
            %section.products-sold
              %i{:class=>"fa fa-shopping-cart"}
              %h1 Products sold:
              %ul
                - @org.products.sort.each do |product|
                  %li
                    %span
                      = product

    - if @org.key?(:services)
      %section.services-box
        %h1 Services
        - @org.services.each do |service|

          %section.service{:itemscope=>"", :itemtype=> (@org.key?(:kind) && @org.kind == 'Government') ? "http://schema.org/GovernmentService" : "http://schema.org/Service"}

            = render :partial => "component/detail/template", :locals => {:org=>service, :field=>:name}
            = render :partial => "component/detail/template", :locals => {:org=>service, :field=>:description}
            = render :partial => "component/detail/urls", :locals => {:org=>service, :field=>:urls, :stitle=>"Homepage"}
            = render :partial => "component/detail/template", :locals => {:org=>service, :field=>:fees, :stitle=>"Fees"}
            = render :partial => "component/detail/template", :locals => {:org=>service, :field=>:audience, :stitle=>"Audience"}
            = render :partial => "component/detail/template", :locals => {:org=>service, :field=>:eligibility, :stitle=>"Eligibility"}
            = render :partial => "component/detail/template", :locals => {:org=>service, :field=>:how_to_apply, :stitle=>"How to Apply"}

  / detail footer content
  - if @org.key?(:updated_at)
    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            %span
              = @org.updated_at.to_s(:full_date_and_time)
            %div
              %a{ :href => "#{request.protocol}admin.#{request.domain}#{request.fullpath.split("?")[0]}", :target=>"_self" }
                %i{ :class => "fa fa-pencil" }
                Edit