= render 'component/organizations/detail/header'

%section#detail-info{ itemscope: '', itemtype: 'http://schema.org/Organization' }

  %header
    %hgroup
      %h1.name{ title: @org.name, itemprop: 'name' }
        = superscript_ordinals(@org.name)
      - if (@org.organization.name) && (@org.organization.name != @org.name)
        %h2.agency
          %a{ href: "/organizations?org_name=#{CGI::escape(@org.organization.name)}", title: "#{@org.organization.name}" }
            %span
              = superscript_ordinals(@org.organization.name)

  / detail sidebar content
  - if (@org.fields & contact_details).any? || @org[:services].present?
    %aside
      - if (@org.fields & contact_details).any?
        %section#contact-info

          - if (@org.fields & contact_fields).any?
            %section.contact-box
              %h1 Contact
              %section

                - if @org[:emails].present?
                  %section.emails{ itemprop: 'email' }
                    - @org.emails.each do |email|
                      %div
                        %i{ class: 'fa fa-laptop' }
                        %a{ href: "mailto:#{email}" }
                          %span{ itemprop: 'email' }
                            = email


                - if @org[:phones].present?
                  %section.phones{ itemscope: '', itemtype: 'http://schema.org/ContactPoint' }
                    - @org.phones.each do |phone|
                      %div
                        %i{ class: 'fa fa-phone-square' }
                        %span
                          - if phone['number']
                            %span{ itemprop: 'telephone' }
                              = format_phone(phone['number'])
                          - if phone['number_type']
                            %sup.phone-type
                              = phone['number_type']
                          - if phone['department']
                            %p
                              %span{ itemprop: 'contactType' }
                                = phone['department']

                - if @org[:faxes].present?
                  %section.faxes
                    - @org.faxes.each do |fax|
                      %div
                        %i{ class: 'fa fa-print fax' }
                        %span
                          - if fax.is_a?(String)
                            %span{ itemprop: 'faxNumber' }
                              = format_phone(fax)
                          - elsif fax.is_a?(Sawyer::Resource)
                            - if fax["number"]
                              %span{ itemprop: 'faxNumber' }
                                = format_phone(fax['number'])
                            - if fax['department']
                              %p
                                %span{ itemprop: 'contactType' }
                                  = fax['department']

          - if @org[:urls].present?
            %section.urls-box
              %h1 Homepage
              %section
                %section.urls
                  - @org.urls.each do |url|
                    %div
                      %i{ class: 'fa fa-external-link-square' }
                      %a{ href: url, target: '_blank' }
                        %span{ itemprop: 'url' }
                          = format_url(url)

          - if @org[:address].present?
            %section.address-box
              %h1 Physical Address
              %section
                %section.address
                  %div
                    %i{ class: 'fa fa-map-marker' }
                    = render 'component/detail/address', org: @org, lines: 2

          - if @org[:mail_address].present?
            %section.address-box
              %h1 Mailing Address
              %section
                %section.mail-address
                  %div
                    %i{ class: 'fa fa-envelope' }
                    = render 'component/detail/mail_address', org: @org

      - if @categories.present?
        %section#categories-box
          %h1 Service Categories
          %section.services{ itemscope: '', itemtype: 'http://schema.org/Service' }
            %ul{ itemscope: '', itemtype: 'http://schema.org/serviceType' }
              - @categories.each do |category|
                %li{ class: "hierarchy-depth-#{category.depth}" }
                  %span{ itemprop: 'serviceType' }
                    -# Category links are disabled till there's a corresponding filter that can be toggled!
                      = link_to category.name, organizations_path(@search_params.merge(category: category.name))
                    = category.name

      - if @keywords.present?
        %section#keywords-box
          %h1 Keyword Tags
          %section.keywords
            %ul
              - @keywords.each do |keyword|
                %li
                  %span
                    = link_to keyword, organizations_path(@search_params.merge(keyword: keyword))

  / Main detail content.
  %section

    - if @org[:short_desc].present? || @org[:description].present?
      %section.overview-box
        %section

          = render partial: 'component/detail/template', locals: { org: @org, field: :short_desc }
          = render partial: 'component/detail/template', locals: { org: @org, field: :description, stitle: 'Location Description' }

    - if @org[:coordinates].present? || @org[:transportation].present?
      %section.map-box
        %h1 Location

        %div

          - if @org[:transportation].present?
            %section.transportation-availability
              %h1 Public Transit:
              %span
                = @org.transportation

          - if @org[:coordinates].present?
            %section#detail-map-view.map
              %div#detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = address(@org)
                %span.hide#detail-map-canvas-lat
                  = @org.latitude
                %span.hide#detail-map-canvas-lng
                  = @org.longitude
              %noscript
                %style
                  -# Hides map when JavaScript is disabled.
                  = '#detail-map-view {display:none;}'

    - if @org[:hours].present?
      %section.hours-box
        %h1 Service Hours
        %section
          = render partial: 'component/detail/template', locals: { org: @org, field: :hours, stitle: nil, icon: 'fa fa-clock-o' }

    - if (@org.fields & service_fields).any?
      %section.service-opt-box
        %h1 Service Options
        %section
          = render 'component/detail/languages', org: @org
          = render 'component/detail/accessibility', org: @org

    - if @org[:services].present?
      %section.services-box
        %h1 Services
        - @org.services.each do |service|

          %section.service{ itemscope: '', itemtype: 'http://schema.org/Service' }

            = render partial: 'component/detail/template', locals: { org: service, field: :name}
            = render partial: 'component/detail/template', locals: { org: service, field: :description, stitle: 'Service Description'}
            = render partial: 'component/detail/urls', locals: { org: service, field: :urls, stitle: 'Homepage' }
            = render partial: 'component/detail/template', locals: { org: service, field: :fees, stitle: 'Fees' }
            = render partial: 'component/detail/template', locals: { org: service, field: :audience, stitle: 'Audience' }
            = render partial: 'component/detail/template', locals: { org: service, field: :eligibility, stitle: 'Eligibility' }
            = render partial: 'component/detail/template', locals: { org: service, field: :how_to_apply, stitle: 'How to Apply' }
            = render partial: 'component/detail/template', locals: { org: service, field: :wait, stitle: 'Service Wait Estimate' }
            = render partial: 'component/detail/service_areas', locals: { org: service, field: :service_areas, stitle: 'Service Areas' }

  / Detail footer content.
  - if @org[:updated_at].present?
    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            %span
              = @org.updated_at.to_s(:full_date_and_time)
            %div
              = link_to "#{SETTINGS[:admin_site]}/locations/#{@org.slug}" do
                %i{ class: 'fa fa-pencil' }
                Edit
