%dl
  %dt Health Care Reform
  %dd
    %strong
      Millions of Californians can choose affordable, high-quality health insurance coverage that will take effect January 2014.
%p
  = link_to 'More info...', 'http://www.smchsa.org/healthinsurance', target: '_blank'

%table
  %tr
    %th
      You are:
    %th
      You qualify for:
    %th
      Who can help?
  %tr
    %td
      An individual making less than $15,856
    %td
      Medi-Cal, a free government program.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
  %tr
    %td
      An individual making $15,857-$28,725
    %td
      Help in paying out-of-pocket costs and eligible for a tax credit that will lower your monthly premium.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
      %p
        Covered California, 1-888-975-1142,
        = link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank'
  %tr
    %td
      An individual making $28,726-$45,960
    %td
      A tax credit that will lower the amount of your monthly premium.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
      %p
        Covered California, 1-888-975-1142,
        = link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank'
  %tr
    %td
      An individual making over $45,960
    %td
      Not eligible for tax credit, but eligible to buy health insurance through Covered California.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
      %p
        Covered California, 1-888-975-1142,
        = link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank'
  %tr
    %td
      A family of four making less than $32,499
    %td
      Medi-Cal, a free government program.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'

  %tr
    %td
      A family of four making $32,500-$58,874
    %td
      Help in paying out-of-pocket costs and eligible for a tax credit that will lower your monthly premium.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
      %p
        Covered California, 1-888-975-1142,
        = link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank'

  %tr
    %td
      A family of four making $58,875-$94,199
    %td
      A tax credit that will lower the amount on your monthly premium.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
      %p
        Covered California, 1-888-975-1142,
        = link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank'

  %tr
    %td
      A family of four making over $94,200
    %td
      Not eligible for tax credit but you are eligible to buy health insurance through Covered California.
    %td
      %p
        Human Services Agency, 1-800-223-8383,
        = link_to 'www.smchsa.com', 'http://smchsa.com', target: '_blank'
      %p
        Covered California, 1-888-975-1142,
        = link_to 'www.coveredca.com', 'http://coveredca.com', target: '_blank'
