%footer#app-footer
  %p
    A
    %a{ href: 'http://codeforamerica.org', target: '_blank', title: 'Code for America' } Code for America
    project
    %span.cfaflag
    developed in partnership with the
    %a{ href: 'http://www.co.sanmateo.ca.us/portal/site/humanservices', target: '_blank', title: 'San Mateo County Human Services agency' } San Mateo County Human Services Agency
    and the
    %a{ href: 'http://www.knightfoundation.org/grants/201447979/', target: '_blank', title: 'Knight Foundation Ohana API grant' } Knight Foundation
    \.

  %p
    %i.fa.fa-bullhorn
    %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } Get this app
    for your city or
    %a{ href: 'http://ohanapi.org' } view project details
    \.

  -# This line needs to go ABOVE the Google Translate code, or it can take too long to load (see issue #462)
  = requirejs_include_tag("routes/#{controller_name}/#{action_name}").gsub("/assets/routes/#{controller_name}/#{action_name}", "routes/#{controller_name}/#{action_name}").html_safe

  #google-translate-element
  :javascript
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
          pageLanguage: 'en',
          autoDisplay: false
        },
        'google-translate-element'
      );
    }
  %script{ type: 'text/javascript', src: '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit' }
