%footer#app-footer
  %p#hsa-logo
    = link_to 'http://hsa.smcgov.org/', target: '_blank' do
      = image_tag('smc_hsa_logotype.png', size: '200x38', alt: 'San Mateo County Human Services Agency')
  %p
    A
    = link_to 'Code for America', 'http://codeforamerica.org', target: '_blank'
    project
    %span.cfaflag
    developed in partnership with the
    = link_to 'San Mateo County Human Services Agency', 'http://hsa.smcgov.org/', target: '_blank'
    and a
    #{link_to 'grant from the Knight Foundation', 'http://www.knightfoundation.org/grants/201447979/', target: '_blank'}.

  %p
    %i.fa.fa-bullhorn
    %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } Get this app
    for your city or
    #{link_to 'view project details', 'http://ohanapi.org'}.

  = requirejs_include_tag("routes/#{controller_name}/#{action_name}").gsub("/assets/routes/#{controller_name}/#{action_name}", "routes/#{controller_name}/#{action_name}").html_safe

  #google-translate-container
