%meta{ charset: 'UTF-8' }
%meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
%title= yield(:title)
%meta{ content: t('meta.description', location: t('branding.location')), name: 'description' }
%meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=0', name: 'viewport' }
%meta{ name: 'google', value: 'notranslate' }
%meta{ content: 'en_US', 'http-equiv' => 'Content-Language' }

- if ENV['GOOGLE_TRANSLATE_CUSTOMIZATION_CODE'].present?
  %meta{ content: ENV['GOOGLE_TRANSLATE_CUSTOMIZATION_CODE'], name: 'google-translate-customization' }

= csrf_meta_tags

= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700'
= stylesheet_link_tag 'application', media: 'all'

-# Include scripts from outside of RequireJS modular system (e.g. Modernizr).
= javascript_include_tag 'vendor'

-# Include Internet Explorer polyfills for legacy system compatibility.
/[if lte IE 8]
  = javascript_include_tag 'ie8'
/[if IE 9]
  = javascript_include_tag 'ie9'

/[if lte IE 9]
  :javascript
    // Hack to handle suppression of JS errors in IE.
    // Normally JS errors would stop the page from loading,
    // but this allows the page to continue loading.
    window.onerror = function (){ return true; };

- if Rails.env.production? && ENV['GOOGLE_ANALYTICS_ID'].present?
  = render 'shared/google_analytics/page_tracking'
= yield :canonical
