%meta{ charset: 'UTF-8' }
%meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
%title= yield(:title)
%meta{ content: t('meta.description', location: t('branding.location')), name: 'description' }
%meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=0', name: 'viewport' }
%meta{ name: 'google', value: 'notranslate' }
%meta{ content: 'en_US', 'http-equiv' => 'Content-Language' }


-#
  Touch icons for mobile devices.

  For Chrome for Android.
= favicon_link_tag 'touch_icons/touch-icon-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192'
-# For iPhone 6 Plus with @3× display.
= favicon_link_tag 'touch_icons/apple-touch-icon-180x180-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '180x180'
-# For iPad with @2× display running iOS ≥ 7.
= favicon_link_tag 'touch_icons/apple-touch-icon-152x152-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '152x152'
-# For iPad with @2× display running iOS ≤ 6.
= favicon_link_tag 'touch_icons/apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
-# For iPhone with @2× display running iOS ≥ 7.
= favicon_link_tag 'touch_icons/apple-touch-icon-120x120-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '120x120'
-# For iPhone with @2× display running iOS ≤ 6.
= favicon_link_tag 'touch_icons/apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
-# For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7.
= favicon_link_tag 'touch_icons/apple-touch-icon-76x76-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '76x76'
-# For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6.
= favicon_link_tag 'touch_icons/apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
-# For non-Retina iPhone, iPod Touch, and Android 2.1+ devices, 57x57px.
= favicon_link_tag 'touch_icons/apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'

= csrf_meta_tags

= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700'
= stylesheet_link_tag 'application', media: 'all'

-# Include scripts from outside of RequireJS modular system (e.g. Modernizr).
= javascript_include_tag 'vendor'

-# Include Internet Explorer polyfills for legacy system compatibility.
/[if lte IE 8]
  = javascript_include_tag 'ie8'
/[if IE 9]
  = javascript_include_tag 'ie9'

/[if lte IE 9]
  :javascript
    // Hack to handle suppression of JS errors in IE.
    // Normally JS errors would stop the page from loading,
    // but this allows the page to continue loading.
    window.onerror = function (){ return true; };

- if Rails.env.production? && ENV['GOOGLE_ANALYTICS_ID'].present?
  = render 'shared/google_analytics/page_tracking'
= yield :canonical
