%footer#app-footer

  %p
    A 
    %a{ href: 'http://codeforamerica.org', target: '_blank', title: 'Code for America' } Code for America
    project
    %span.cfaflag
    developed in partnership with the
    %a{ href: 'http://www.co.sanmateo.ca.us/portal/site/humanservices', target: '_blank', title: 'San Mateo County Human Services agency' } San Mateo County Human Services Agency
    and the
    %a{ href: 'http://www.knightfoundation.org/grants/201447979/', target: '_blank', title: 'Knight Foundation Ohana API grant' } Knight Foundation
    \.

  %p
    %i.fa.fa-bullhorn
    %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } Get this app
    for your city or
    %a{ href: 'http://ohanapi.org' } view project details
    \.

  -# This line needs to go ABOVE the Google Translate code, or it can take too long to load (see issue #462)
  = requirejs_include_tag("routes/#{controller_name}/#{action_name}").gsub( "/assets/routes/#{controller_name}/#{action_name}", "routes/#{controller_name}/#{action_name}").html_safe

  #google_translate_element
  :javascript
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'af,ar,az,be,bg,bn,bs,ca,ceb,cs,da,de,el,en,es,et,eu,fa,fi,fr,ga,gl,gu,hi,hmn,hr,ht,hu,hy,id,is,it,iw,ja,jv,ka,km,kn,ko,lo,lt,lv,mk,mr,ms,mt,nl,no,pl,pt,ro,ru,sk,sl,sq,sr,sv,sw,ta,te,th,tl,tr,uk,ur,vi,yi,zh-CN,zh-TW', autoDisplay: false}, 'google_translate_element');
    }
  %script{ type: 'text/javascript', src: '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit' }
