= render 'component/locations/detail/header'

%section#detail-info{ itemscope: '', itemtype: 'http://schema.org/Organization' }

  %header
    %hgroup
      %h1.name
        = superscript_ordinals(full_name_content_for(@location))

      - if (@location.organization.name) && (@location.organization.name != @location.name)
        %h2.agency
          = link_to(locations_path(org_name: @location.organization.name)) do
            %span
              = superscript_ordinals(@location.organization.name)

  / detail sidebar content
  %aside
    %section#contact-info

      - if (@location.fields & location_contact_fields).any?
        %section.contact-box-general
          %h1 General Contact Info
          %section

            - if @location.urls.present?
              %section.urls
                - @location.urls.each do |url|
                  %div
                    %i{ class: 'fa fa-external-link-square' }
                    %a{ href: url, target: '_blank' }
                      %span{ itemprop: 'url' }
                        = format_url(url)

            - if @location.emails.present?
              %section.emails{ itemprop: 'email' }
                - @location.emails.each do |email|
                  %div
                    %i{ class: 'fa fa-envelope-square' }
                    %a{ href: "mailto:#{email}" }
                      %span{ itemprop: 'email' }
                        = email

            - if @location.phones.present?
              %section.phones
                - @location.phones.each do |phone|
                  = render 'component/detail/phone', phone: phone, show_phone_type_and_department: true

      - if @location.contacts.present?
        - @location.contacts.each do |contact|
          %section.contact-box-specific
            %h1 Specific Contact
            %section
              %section.contact-name
                = contact.name
              - if contact.title.present? || contact.department.present?
                %section.contact-details
                  = contact_details_for(contact)

              - if contact.email.present?
                %section.emails{ itemprop: 'email' }
                  %div
                    %i{ class: 'fa fa-envelope-square' }
                    %a{ href: "mailto:#{contact.email}" }
                      %span{ itemprop: 'email' }
                        = contact.email

              - if contact.phones.present?
                %section.phones
                  - contact.phones.each do |phone|
                    = render 'component/detail/phone', phone: phone, show_phone_type_and_department: true

      - if @location.address.present?
        %section.address-box
          %h1 Physical Address
          %section
            %section.address
              %div
                %i{ class: 'fa fa-map-marker' }
                = render 'component/detail/address', location: @location, lines: 2

      - if @location.mail_address.present?
        %section.address-box
          %h1 Mailing Address
          %section
            %section.mail-address
              %div
                %i{ class: 'fa fa-envelope' }
                = render 'component/detail/mail_address', location: @location

    - if @categories.present?
      %section#categories-box
        %h1 Service Categories
        %section.services{ itemscope: '', itemtype: 'http://schema.org/Service' }
          %ul{ itemscope: '', itemtype: 'http://schema.org/serviceType' }
            - @categories.each do |category|
              %li{ class: "hierarchy-depth-#{category.depth}" }
                %span{ itemprop: 'serviceType' }
                  -# Category links are disabled till there's a corresponding filter that can be toggled!
                    = link_to category.name, locations_path(request.query_parameters.merge(category: category.name))
                  = category.name

      /= render 'component/detail/service_keywords'

  / Main detail content.
  %section

    %section.overview-box
      %section
        = render 'component/detail/location_short_desc', location: @location
        = render 'component/detail/location_description', location: @location

    - if @location.coordinates.present? || @location.transportation.present?
      %section.map-box
        %h1 Location

        %div

          - if @location[:transportation].present?
            %section.transportation-availability
              %h1 Public Transit:
              %span
                = @location.transportation

          - if @location[:coordinates].present?
            %section#detail-map-view.map
              #detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = full_address_for(@location.address)
                %span.hide#detail-map-canvas-lat
                  = @location.latitude
                %span.hide#detail-map-canvas-lng
                  = @location.longitude
              %noscript
                %style
                  -# Hides map when JavaScript is disabled.
                  = '#detail-map-view {display:none;}'

    - if @location[:hours].present?
      %section.hours-box
        %h1 Service Hours
        %section
          = render 'component/detail/location_hours', location: @location

    - if (@location.fields & service_fields).any?
      %section.service-opt-box
        %h1 Service Options
        %section
          = render 'component/detail/languages', location: @location
          = render 'component/detail/accessibility', location: @location

    - if @location[:services].present?
      %section.services-box
        %h1 Services
        - @location.services.each do |service|

          %section.service{ itemscope: '', itemtype: 'http://schema.org/Service' }
            = render 'component/detail/service_name', service: service
            = render 'component/detail/service_description', service: service
            = render 'component/detail/service_urls', service: service
            = render 'component/detail/service_fees', service: service
            = render 'component/detail/service_audience', service: service
            = render 'component/detail/service_eligibility', service: service
            = render 'component/detail/service_how_to_apply', service: service
            = render 'component/detail/service_wait', service: service
            = render 'component/detail/service_areas', service: service

  / Detail footer content.
  - if @location[:updated_at].present?

    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            %span
              = @location.updated_at.to_s(:full_date_and_time)
            .button-edit
              = link_to "#{SETTINGS[:admin_site]}/locations/#{@location.slug}", rel: 'nofollow' do
                %i{ class: 'fa fa-pencil' }
                Edit
