= render 'component/locations/detail/header'

%section#detail-info{ itemscope: '', itemtype: 'http://schema.org/Organization' }

  %header
    %hgroup
      %h1.name
        = superscript_ordinals(full_name_content_for(@location))

      - if (@location.organization.name) && (@location.organization.name != @location.name)
        %h2.agency
          = link_to(locations_path(org_name: @location.organization.name)) do
            %span
              = superscript_ordinals(@location.organization.name)

  / detail sidebar content
  .location-sidebar-box
    %aside.location-sidebar

      - if @location.regular_schedules.present?
        %section.schedules-box.location-sidebar-section
          %h1 Regular Hours
          %section.location-sidebar-content
            = render 'component/detail/location_regular_schedule', schedules: @location.regular_schedules

      - if @location.holiday_schedules.present?
        %section.schedules-box.location-sidebar-section
          %h1 Holiday Hours
          %section.location-sidebar-content
            = render 'component/detail/location_holiday_schedule', schedules: @location.holiday_schedules

      - if (@location.fields & location_contact_fields).any?
        %section.contact-box-general.location-sidebar-section
          %h1 General Contact Info
          %section.location-sidebar-content
            = render 'component/detail/website', website: @location.website
            = render 'component/detail/email', email: @location.email

            - if @location.phones.present?
              %section.phones.location-sidebar-content-group
                - @location.phones.each do |phone|
                  = render 'component/detail/phone', phone: phone, show_phone_type_and_department: true

      - if @location.contacts.present?
        - @location.contacts.each do |contact|
          %section.contact-box-specific.location-sidebar-section
            %h1 Specific Contact
            %section.location-sidebar-content
              %section.contact-name-box.annotated-text-block
                %section.contact-name
                  = contact.name
                - if contact.title.present? || contact.department.present?
                  %section.contact-details.annotation
                    = contact_details_for(contact)

              = render 'component/detail/email', email: contact.email

              - if contact.phones.present?
                %section.phones.location-sidebar-content-group
                  - contact.phones.each do |phone|
                    = render 'component/detail/phone', phone: phone, show_phone_type_and_department: true

      - if @location.address.present?
        %section.address-box.location-sidebar-section
          %h1 Physical Address
          %section.location-sidebar-content
            %section.address.icon-text-block
              %i.fa.fa-map-marker
              %span
                = render 'component/detail/address', location: @location, lines: 2

      - if @location.mail_address.present?
        %section.address-box.location-sidebar-section
          %h1 Mailing Address
          %section.location-sidebar-content
            %section.mail-address.icon-text-block
              %i.fa.fa-envelope
              %span
                = render 'component/detail/mail_address', location: @location

    - if @categories.present?
      %aside.location-sidebar
        %section.location-sidebar-section.service-categories-box
          %h1 Service Categories
          %section.location-sidebar-content
            %section.service-categories{ itemscope: '', itemtype: 'http://schema.org/Service' }
              %ul{ itemscope: '', itemtype: 'http://schema.org/serviceType' }
                - @categories.each do |category|
                  %li{ class: "hierarchy-depth-#{category.depth}" }
                    %span{ itemprop: 'serviceType' }
                      -# Category links are disabled till there's a corresponding filter that can be toggled!
                        = link_to category.name, locations_path(request.query_parameters.merge(category: category.name))
                      = category.name

      /= render 'component/detail/service_keywords'

  / Main detail content.
  %section

    %section.overview-box
      %section
        = render 'component/detail/location_short_desc', location: @location
        = render 'component/detail/location_description', location: @location

    - if @location.coordinates.present? || @location.transportation.present?
      %section.map-box
        %h1 Location

        %div

          - if @location[:transportation].present?
            %section.transportation-availability
              %h1 Public Transit:
              %span
                = @location.transportation

          - if @location.coordinates.present?
            %section.map#detail-map-view
              #detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = full_address_for(@location.address)
                %span.hide#detail-map-canvas-lat
                  = @location.latitude
                %span.hide#detail-map-canvas-lng
                  = @location.longitude
              %noscript
                -# Hides map when JavaScript is disabled.
                :sass
                  #detail-map-view
                    display: none

    - if (@location.fields & service_fields).any?
      %section.service-opt-box
        %h1 Service Options
        %section
          = render 'component/detail/languages', location: @location
          = render 'component/detail/accessibility', location: @location

    - if @location.services.present?
      %section.services-box
        %h1 Services
        - @location.services.each do |service|

          %section.service{ itemscope: '', itemtype: 'http://schema.org/Service' }
            %section.title-box
              = render 'component/detail/service_status', service: service
              = render 'component/detail/service_name', service: service

            - if service.regular_schedules.present?
              %section.schedules-box
                %h1 Regular Service Hours
                %section
                  = render 'component/detail/location_regular_schedule', schedules: service.regular_schedules

            - if service.holiday_schedules.present?
              %section.schedules-box
                %h1 Holiday Service Hours
                %section
                  = render 'component/detail/location_holiday_schedule', schedules: service.holiday_schedules

            - if service.website.present? || service.email.present? || service.phones.present?
              %section.contact-box
                - if service.website.present?
                  = render 'component/detail/website', website: service.website
                - if service.email.present?
                  = render 'component/detail/email', email: service.email
                - if service.phones.present?
                  %section.phones
                    - service.phones.each do |phone|
                      = render 'component/detail/phone', phone: phone, show_phone_type_and_department: true
            = render 'component/detail/service_description', service: service
            = render 'component/detail/service_fees', service: service
            = render 'component/detail/service_audience', service: service
            = render 'component/detail/service_eligibility', service: service
            = render 'component/detail/service_application_process', service: service
            = render 'component/detail/service_interpretation_services', service: service
            = render 'component/detail/service_wait', service: service
            = render 'component/detail/service_required_documents', service: service
            = render 'component/detail/service_accepted_payments', service: service
            = render 'component/detail/service_service_areas', service: service

  / Detail footer content.
  - if @location.updated_at.present?

    %footer
      %section.metadata
        .button-edit
          = link_to "#{SETTINGS[:admin_site]}/locations/#{@location.slug}", rel: 'nofollow' do
            %i.fa.fa-pencil
            Edit
