= render 'component/locations/detail/header'

%section#detail-info{ itemscope: '', itemtype: 'http://schema.org/Organization' }

  %header
    %hgroup
      %h1.name{ title: @location.name, itemprop: 'name' }
        = superscript_ordinals(@location.name)
      - if (@location.organization.name) && (@location.organization.name != @location.name)
        %h2.agency
          %a{ href: "/locations?org_name=#{CGI::escape(@location.organization.name)}", title: "#{@location.organization.name}" }
            %span
              = superscript_ordinals(@location.organization.name)

  / detail sidebar content
  - if (@location.fields & location_contact_details).any? || @location[:services].present?
    %aside
      - if (@location.fields & location_contact_details).any?
        %section#contact-info

          - if (@location.fields & location_contact_fields).any?
            %section.contact-box
              %h1 General Contact Info
              %section

                - if @location.urls.present?
                  %section.urls
                    - @location.urls.each do |url|
                      %div
                        %i{ class: 'fa fa-external-link-square' }
                        %a{ href: url, target: '_blank' }
                          %span{ itemprop: 'url' }
                            = format_url(url)

                - if @location.emails.present?
                  %section.emails{ itemprop: 'email' }
                    - @location.emails.each do |email|
                      %div
                        %i{ class: 'fa fa-laptop' }
                        %a{ href: "mailto:#{email}" }
                          %span{ itemprop: 'email' }
                            = email

                - if @location.phones.present?
                  %section.phones{ itemscope: '', itemtype: 'http://schema.org/ContactPoint' }
                    - @location.phones.each do |phone|
                      %div
                        %i{ class: 'fa fa-phone-square' }
                        %span
                          - if phone.number
                            %span{ itemprop: 'telephone' }
                              = format_phone(phone.number)
                          - if phone.extension.present?
                            %sup.phone-extension
                              = phone.extension
                          - if phone.number_type
                            %sup.phone-type
                              = phone.number_type
                          - if phone.department
                            %p.phone-department{ itemprop: 'contactType' }
                              = phone.department

                - if @location.faxes.present?
                  %section.faxes
                    - @location.faxes.each do |fax|
                      %div
                        %i{ class: 'fa fa-print fax' }
                        %span
                          - if fax.is_a?(String)
                            %span{ itemprop: 'faxNumber' }
                              = format_phone(fax)
                          - elsif fax.is_a?(Sawyer::Resource)
                            - if fax["number"]
                              %span{ itemprop: 'faxNumber' }
                                = format_phone(fax.number)
                            - if fax.department
                              %p.fax-department{ itemprop: 'contactType' }
                                = fax.department

          - if @location.contacts.present?
            - @location.contacts.each do |contact|
              %section.contact-box
                %h1 Specific Contact
                %section
                  - if contact.name.present?
                    %section.contact-name
                      = contact.name
                    %section.contact-title
                      = contact.title

                  - if contact.email.present?
                    %section.emails{ itemprop: 'email' }
                      %div
                        %i{ class: 'fa fa-laptop' }
                        %a{ href: "mailto:#{contact.email}" }
                          %span{ itemprop: 'email' }
                            = contact.email

                  - if contact.phone.present?
                    %section.phones{ itemscope: '', itemtype: 'http://schema.org/ContactPoint' }
                      %div
                        %i{ class: 'fa fa-phone-square' }
                        %span
                          %span{ itemprop: 'telephone' }
                            = format_phone(contact.phone)
                          - if contact.extension.present?
                            %sup.phone-extension
                              = contact.extension

                  - if contact.fax.present?
                    %section.faxes
                      %div
                        %i{ class: 'fa fa-print fax' }
                        %span{ itemprop: 'faxNumber' }
                          = format_phone(contact.fax)

          - if @location.address.present?
            %section.address-box
              %h1 Physical Address
              %section
                %section.address
                  %div
                    %i{ class: 'fa fa-map-marker' }
                    = render 'component/detail/address', location: @location, lines: 2

          - if @location.mail_address.present?
            %section.address-box
              %h1 Mailing Address
              %section
                %section.mail-address
                  %div
                    %i{ class: 'fa fa-envelope' }
                    = render 'component/detail/mail_address', location: @location

      - if @categories.present?
        %section#categories-box
          %h1 Service Categories
          %section.services{ itemscope: '', itemtype: 'http://schema.org/Service' }
            %ul{ itemscope: '', itemtype: 'http://schema.org/serviceType' }
              - @categories.each do |category|
                %li{ class: "hierarchy-depth-#{category.depth}" }
                  %span{ itemprop: 'serviceType' }
                    -# Category links are disabled till there's a corresponding filter that can be toggled!
                      = link_to category.name, locations_path(request.query_parameters.merge(category: category.name))
                    = category.name

      /= render 'component/detail/service_keywords'

  / Main detail content.
  %section

    - if @location.short_desc.present? || @location.description.present?
      %section.overview-box
        %section
          = render 'component/detail/location_short_desc', location: @location
          = render 'component/detail/location_description', location: @location

    - if @location.coordinates.present? || @location.transportation.present?
      %section.map-box
        %h1 Location

        %div

          - if @location[:transportation].present?
            %section.transportation-availability
              %h1 Public Transit:
              %span
                = @location.transportation

          - if @location[:coordinates].present?
            %section#detail-map-view.map
              %div#detail-map-canvas
                %span.hide#detail-map-canvas-title
                  = address(@location)
                %span.hide#detail-map-canvas-lat
                  = @location.latitude
                %span.hide#detail-map-canvas-lng
                  = @location.longitude
              %noscript
                %style
                  -# Hides map when JavaScript is disabled.
                  = '#detail-map-view {display:none;}'

    - if @location[:hours].present?
      %section.hours-box
        %h1 Service Hours
        %section
          = render 'component/detail/location_hours', location: @location

    - if (@location.fields & service_fields).any?
      %section.service-opt-box
        %h1 Service Options
        %section
          = render 'component/detail/languages', location: @location
          = render 'component/detail/accessibility', location: @location

    - if @location[:services].present?
      %section.services-box
        %h1 Services
        - @location.services.each do |service|

          %section.service{ itemscope: '', itemtype: 'http://schema.org/Service' }
            = render 'component/detail/service_name', service: service
            = render 'component/detail/service_description', service: service
            = render 'component/detail/service_urls', service: service
            = render 'component/detail/service_fees', service: service
            = render 'component/detail/service_audience', service: service
            = render 'component/detail/service_eligibility', service: service
            = render 'component/detail/service_how_to_apply', service: service
            = render 'component/detail/service_wait', service: service
            = render 'component/detail/service_areas', service: service

  / Detail footer content.
  - if @location[:updated_at].present?

    %footer
      %section.metadata
        %section
          %section.updated-at
            %h1
              Last updated:
            %span
              = @location.updated_at.to_s(:full_date_and_time)
            %div
              = link_to "#{SETTINGS[:admin_site]}/locations/#{@location.slug}" do
                %i{ class: 'fa fa-pencil' }
                Edit
