= render 'asides/search'

%section#search-content
	%section#inside-content
		%section#results-list
			= render 'layouts/results_header'
			- if @organizations.blank?
				%p.no-results
					NO RESULTS
			- else	
				%ul
					- @organizations.each do |org|
						%li
							%a{:href=>"#{organization_path(org)}", :title=>"#{org.name}"}
								%section{:class => "results-entry"}
									- unless @location.blank?
										%p.distance{:title=> "#{org.distance_to(@location).round(2)} miles","data-distance"=>org.distance_to(@location).round(2)}
											%span
												== #{org.distance_to(@location).round(2)} mi
									- if org.name.present?
										%h1.name
											= superscript_ordinals(org.name)
											
									%p.address
										= superscript_ordinals(org.street_address)+", #{org.city}, #{org.state} #{org.zipcode}"