= render 'asides/search'

%section#search-content
	%section#inside-content
		%section#results-list
			%div#results-header
				= render 'layouts/results_header'
			- if @orgs.blank?
				%p.no-results
					NO RESULTS
			- else
				%nav
					%section#results-view-options
						%span
							View as: 
						%button#list-view-btn{:type=>"button"}>
							List
						%button#map-view-btn{:type=>"button"}
							Map
					-#%section#results-sort-options
						-#%span
							-#Sort by: 
						-#%button#name-sort-btn{:type=>"button"}>
							-#Name
						-#- if @location.blank?
							-#%button#distance-sort-btn{:type=>"button","disabled"=>"disabled"}
								-#Distance
						-#- elsif
							-#%button#distance-sort-btn{:type=>"button"}
								-#Distance
				%section#list-view
					%ul
						- @orgs.each do |org|
							%li
								%a{:href=>"#{organization_path(org._id)}", :title=>"#{org.name}"}
									%section{:class => "results-entry"}
										- unless org.distance.blank?
											%p.distance{:title=> "#{org.distance} miles","data-distance"=>org.distance}
												%span
													== #{org.distance} mi
										- if org.name.present?
											%h1.name
												= superscript_ordinals(org.name)
										- if org.street_address.present?			
											%p.address
												= superscript_ordinals(org.street_address)+", #{org.city}, #{org.state} #{org.zipcode}"
				%section#map-view
					%div
						%div#map
						%script{:id=>"map-locations",:type=>"text/json"}
							[
							- #two loops on one page ain't great, but will leave it till we have ajax working.
							- @orgs.each_with_index do |org,index|
								= raw org.to_json
								- if index != @orgs.count-1
									,
							]
