= render 'asides/search'

%section#search-content
	%section#inside-content
		%section#results-list
			%header
				%h1
					Service Providers
				%nav
					%span{"data-icon"=>"b" , :class=>"browse ohana-icon"}
					== #{@results_text}
			- if @organizations.blank?
				%p.no-results
					NO RESULTS
			- else	
				%ul
					- @organizations.each do |org|
						%li
							%a{:href=>"#{organization_path(org)}", :title=>"#{org.name}"}
								%section{:class => "results-entry"}
									%h1.name
										= org.name
									%p.address
										= org.address
									- unless @location.blank?
										%p.distance{:title=>org.distance_to(@location).round(2)}
											== (#{org.distance_to(@location).round(2)} miles)
