%aside#search-options-screen
	%section#search-screen
		= form_tag('/organizations', :method => :get)
		%section#search-box.mini
			= render :partial => 'home/searchbox'

	%div
		%h1
			Search Options
		= render 'layouts/search_options'

%seaction#search-content
	%section#inside-content
		%section#results-list
			%header
				%h1
					Service Providers
				%nav
					== #{@results_count}
			%ul
				- @locations.each do |location|
					%li
						%a{:href=>"#{organization_path(location)}", :title=>"#{location.name}"}
							%section{:class => "results-entry"}
								%h1.entry-title
									= location.name
									/= location.address

