%aside#search-options-screen
	%section#search-screen
		= form_tag('/organizations', :method => :get)
		%section#search-box.mini
			= render :partial => 'home/searchbox'

	%div
		%h1
			Search Options
		= render 'layouts/search_options'

%section#search-content
	%section#inside-content
		%section#results-list
			%header
				%h1
					Service Providers
				%nav
					== #{@results_text}
			- if @organizations.blank?
				%p.no-results
					NO RESULTS
			- else	
				%ul
					- @organizations.each do |org|
						%li
							%a{:href=>"#{organization_path(org)}", :title=>"#{org.name}"}
								%section{:class => "results-entry"}
									%h1.entry-title
										%p
											= org.name
										%p
											= org.address
										- unless @location.blank?
											== (#{org.distance_to(@location).round(2)} miles)
