%aside#search-options-screen
	%section#search-screen
		= form_tag('/organizations', :method => :get)
		%section#search-box.mini
			= render :partial => 'home/searchbox'

	%div
		%h1
			Search Options
		= render 'layouts/search_options'

%section#search-content
	%section#inside-content
		%section#results-list
			%section#detail-screen
				%header
					%h1
						Service Provider
					%nav
						%a{:href=>"#{organization_path()}"}
							↩ Return to results
				%section#detail-info
					
					- if @org.name.present?
						%h1.name
							= @org.name
					
					- if @org.address.present?
						%p.address
							%span{"data-icon"=>"l" , :class=>"ohana-icon"}
							= @org.address
					
					- if @org.phone_format.present?
						%p.phone
							= @org.phone_format

					- if @org.url.present?
						%p.url
							= link_to "Website", @org.url

					- if @org.email.present?
						%p.email
							= @org.email
					
					- if @org.payments_accepted.present?
						%p.payments-accepted
							This market accepts 
							= @org.payments_accepted.join(", ")

					- if @org.description.present?
						%p.description
						= @org.description

					%p.map
						%img{:src=>"#{@org.mapURL}", :alt => "Location map", :width => 320, :height => 240, :title => "#{@org.address}"}

					%p.directions
						= link_to "Directions", "https://maps.google.com/maps?saddr=current+location&daddr="+@org.address

				%h2
					Nearby (within 2 miles):
				%ul
					- @nearby.each do |venue| 
						%li
							%a{:href=>"#{organization_path(venue)}", :title=>"#{venue.name}"}
								%section{:class => "results-entry"}
									%h1.entry-title
										%p
											= venue.name 
										%p
											= venue.address
										

