= render 'asides/search'

%section#search-content
	%section#inside-content
		%section#results-list
			%section#detail-screen
				%header
					%h1
						Service Provider
					%nav
						%a{:href=>session[:search_results]}
							%span{"data-icon"=>"r" , :class=>"ohana-icon"}
							Return to results
				%section#detail-info
					
					- if @org.name.present?
						%h1.name
							= @org.name
					
					- if @org.address.present? || @org.phone_format.present? || @org.url.present?
						%section.contact-box
							%h1 
								%span Contact

							- if @org.address.present?
								%p.address
									%span{"data-icon"=>"l" , :class=>"ohana-icon"}
									= @org.address
							
							- if @org.phone_format.present?
								%p.phone
									%span{"data-icon"=>"p" , :class=>"ohana-icon"}
									= @org.phone_format

							- if @org.url.present?
								%p.url
									%a{:href=>@org.url,:target=>"_blank"}
										%span{"data-icon"=>"e" , :class=>"external-link ohana-icon"}
										Visit Website 

							- if @org.email.present?
								%p.email
									= @org.email

					- if @org.schedule.present?
						%section.payment-box
							%h1
								%span Business Hours

								%p.schedule
									= @org.schedule

					- if @org.payments_accepted.present? || @org.products_sold.present?
						%section.payment-box
							%h1
								%span Payment & Products

							- if @org.payments_accepted.present?
								%p.payments-accepted
									This market accepts 
									= @org.payments_accepted.join(", ")

							- if @org.products_sold.present?
								%p.products-sold
									Products sold: 
									= @org.products_sold.join(", ")

					- if @org.payments_accepted.present? || @org.products_sold.present?
						%section.overview-box
							%h1
								%span Service Overview
							
							- if @org.description.present?
								%p.description
								= @org.description

					- if @org.mapURL.present?
						%section.map-box
							%h1 
								%span Map & Directions

							%p.map
								%img{:src=>"#{@org.mapURL}", :alt => "Location map", :width => 320, :height => 240, :title => "#{@org.address}"}

							%p.directions
								%a{:href=>"https://maps.google.com/maps?saddr=current+location&daddr="+@org.address,:target=>"_blank"}
									%span{"data-icon"=>"e" , :class=>"external-link ohana-icon"}
									Get Directions

			- if @nearby.present?
				%h2
					Nearby (within 2 miles):
				%ul
					- @nearby.each do |venue| 
						%li
							%a{:href=>"#{organization_path(venue)}", :title=>"#{venue.name}"}
								%section{:class => "results-entry"}
									%h1.name
										= venue.name 
									%p.address
										= venue.address
										

