- if action_name == 'show'
	%header
		%h1
			Service Provider
		%nav
			%a{:href=>session[:search_results]}
				%span{"data-icon"=>"â†µ" , :class=>"ohana-icon"}
				Return to results
- elsif action_name == 'index'
	%header
		%h1
			Service Providers
		%nav
			%span{"data-icon"=>"ð¢" , :class=>"browse ohana-icon"}
			== #{@result_summary}
			|
			- page_prev = '?page='+@pagination.prev.to_s
			- page_next = '?page='+@pagination.next.to_s
			= link_to '<', page_prev, :class => 'pagination prev', :remote=>true
			= "#{@pagination.current} of #{@pagination.pages_total}"
			= link_to '>', page_next, :class => 'pagination next', :remote=>true