%article#about-box
	%div
		%h1 Locate San Mateo County Services
		%p
			Retrieve detailed information on the services available in San Mateo County, California.

		%p
			This project is part of the development of the 
			%strong
				=link_to "Ohana API", "https://github.com/codeforamerica/ohana-api", :target=> "_blank"
			, an open source database of community services.

		%footer
			%p
				Developed by the 2013 
				= link_to "San Mateo County", "http://codeforamerica.org/2013-partners/san-mateo-county/", :target=>"_blank"
				team of 
				= link_to "Code for America", "http://codeforamerica.org", :target=>"_blank"
				fellows.
			  
			%p
				%em
					Development team:
				= link_to "Anselm Bradford", "http://twitter.com/anselmbradford"
				|
				= link_to "Moncef Belyamani", "http://twitter.com/monfresh"
				|
				= link_to "Sophia Parafina", "http://twitter.com/spara"

			%p
				Geocoding Courtesy of MapQuest.