%article#about-box
  .close-button
  %div
    %h1= t('branding.header', location: t('branding.location'))
    %p
      = t('branding.description', location: t('branding.location'))

    %p
      This project is built using
      = link_to('Ohana API', 'https://github.com/codeforamerica/ohana-api', target: '_blank') + ','
      an open source app for community services. We are also part of the
      = link_to('Benetech Service Net pilot', 'https://benetech.org/service-net-begins-pilot/') + ','
      a collaboration project on services data in the Bay Area.

    %p
      = link_to t('views.about.project_link'), t('views.about.project_link_url'), target: '_blank'

    %footer
      %p
        Developed by the 2013 San Mateo County team of
        = link_to 'Code for America', 'https://codeforamerica.org', target: '_blank'
        fellows.

      %p
        %em
          Development team:
        %br
        = link_to 'Anselm Bradford', 'https://twitter.com/anselmbradford'
        |
        = link_to 'Moncef Belyamani', 'https://www.moncefbelyamani.com'
        |
        = link_to 'Sophia Parafina', 'https://twitter.com/spara'

      %p
        Geocoding courtesy of Google.

      %p
        %a{ href: 'https://www.flickr.com/photos/walkingsf/5658102643/', target: '_blank' }
          Map photo
        by Eric Fischer
        %br
        %a{ href: 'https://creativecommons.org/licenses/by-nc/2.0/', target: '_blank' }
          Attribution-NonCommercial License
