- title @location.name
- @location.name == @location.organization.name ? canonical("#{locations_url}/#{@location.slug}") : canonical("#{locations_url}/#{@location.organization.slug}/#{@location.slug}")
= render 'component/search/aside'
%section#results-container
  = render 'component/locations/detail/body'