- if action_name == 'show'
	%header
		%h1
			Service Provider
		%nav
			%a{:href=>session[:search_results]}
				%span{"data-icon"=>"â†µ" , :class=>"ohana-icon"}
				Return to results
- elsif action_name == 'index'
	%header
		%h1
			Service Providers
		%nav
			%span{"data-icon"=>"ð¢" , :class=>"browse ohana-icon"}
			== #{@result_summary}
			| 
			= link_to "<","#"
			= "#{@pagination.current} of #{@pagination.pages_total}"
			= link_to ">","#"
