<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "Human Services Finder" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Human Services Finder" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

  <section id="splash-screen">
    <h1>Loading...</h1>
  </section>

  <section id="help-screen" class="max">
    <div>
      <h1>Find resources near you</h1>
      <p>Retrieve detailed information on the services available in your area. To get started, enter your address below and click 'search'.</p>
      <p><a href="#">[close]</a></p>
    </div>
  </section>

  <section id="main-content" class="fullscreen">
  <header><!--<div id="logo"><a href="/boilerplate/">Human Services Finder</a></div>-->
  <%= render 'layouts/navigation' %>
  </header>
  
  <%= render 'layouts/messages' %>
              <%= yield %>

  <footer><address><a href="https://github.com/codeforamerica/human_services_finder"><img src="/boilerplate/img/cfa_flag.png" alt="Code for America flag"></a></address></footer>
  </section>

  </body>
</html>
