<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "OhanaSMC" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Human Services Finder" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'> 

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

  <section id="splash-screen">
    <h1>Loading...</h1>
  </section>

  <section id="main-header">
        <header id="utility-screens">
            <nav>
                <div id="logo">
                    <a href="/">OhanaSMC</a>
                    <button id="info-screen-btn"><h1>?</h1></button>
                </div>
            </nav>
            
            <section id="info-screen" class="mini">
              <%= render 'layouts/site_info' %>
            </section>
        </header>
    </section>
        <%= render 'layouts/messages' %>

    <section id="main-content">
        <main>
                <%= yield %>
        </main>
    </section>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->
  </body>
</html>
