= render 'component/locations/results/header'
%section#results-entries
  - if @search.map_data.size != 0
    = render 'component/locations/results/map_view'

  - if info_box_key_corresponding_to_keyword.present?
    %section#terminology-box-container
      .terminology-box
        = render_info_box(info_box_key_corresponding_to_keyword)

  - if @search.locations.present?

    - if params[:org_name].present?
      %section#organization-detail-container
        = render 'component/locations/results/organization_detail',
          organization: @search.locations.first.organization

    = render 'component/locations/results/list_view'
  - else
    %section.no-results
      .message
        %strong= t('no_results.main')
        %em= t('no_results.secondary')
        %ul
          %li
            = t('no_results.options.one')
          %li
            = t('no_results.options.two')
          %li
            %a{ href: '/locations' }
              = t('no_results.options.browse_all')

    = render 'home/homepage_links'
