%section#list-view
  %ul
    - @search.locations.each do |location|

      %li
        %a{ href: location_link_for(location), title: location.name, name: location.id }
          &nbsp;
        %section.results-entry{ itemscope: '', itemtype: 'http://schema.org/Organization' }
          %header
              
            %h1.agency
              = link_to(locations_path(org_name: location.organization.name)) do
                = location.organization.name
          - if location.phones.present? || location.address.present? || location.short_desc.present?
            %section.content
              - if location.phones.present?
                = render 'component/detail/phone', phone: first_voice_or_hotline_phone_for(location.phones), show_phone_type_and_department: false

              - if location.address.present?
                %p.address
                  = render 'component/detail/address', location: location, lines: 1

              - if location.short_desc.present?
                %p.short-desc
                  = location.short_desc
  %footer
    = paginate @search.results
