%section#list-view
  %ul
    - @search.locations.each do |location|

      %li
        %a{ href: (location.organization.name == location.name) ? "#{location_path([location.slug], request.query_parameters)}" : "#{location_path([location.organization.slug, location.slug], request.query_parameters)}", title: "#{location.name}", name: "#{location.id}" }
          &nbsp;
        %section.results-entry{ itemscope: '', itemtype: 'http://schema.org/Organization' }
          %header
            %hgroup
              %h1.name
                %a{ href: (location.organization.name == location.name) ? "#{location_path([location.slug], request.query_parameters)}" : "#{location_path([location.organization.slug, location.slug], request.query_parameters)}", name: "#{location.id}" }
                  = superscript_ordinals(full_name_content_for(location))

              - if (location.organization.name) && (location.organization.name != location.name)
                %h2.agency
                  = link_to(locations_path(org_name: location.organization.name)) do
                    %span
                      = superscript_ordinals(location.organization.name)
          - if location.phones.present? || location.address.present? || location.short_desc.present?
            %section.content
              - if location.phones.present?
                = render 'component/detail/phone', phone: first_voice_or_hotline_phone_for(location.phones), show_phone_type_and_department: false

              - if location.address.present?
                %p.address
                  = render 'component/detail/address', location: location, lines: 1

              - if location.short_desc.present?
                %p.short-desc
                  = location.short_desc
  %footer
    = paginate @search.results
